@model MVC_TMED.Models.ViewModels.GP_BestVacationsViewModel;
@using MVC_TMED.Infrastructure;
@using Microsoft.Extensions.Options
@using System.Text.RegularExpressions;
@inject IOptions<AppSettings> _appsettings
@{
    ViewData["Title"] = "GP3_BestVacations_Mob";
}
@section Styles {
    <environment include="Development">
        <link rel="stylesheet" href="~/css/gp3BestVacations_m/mb.style.gp3BestVacations_Mob.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/gp3BestVacations_m/mb.style.gp3BestVacations_Mob.min.css" asp-append-version="true" />
    </environment>
}
@{
    string pack3Ids = "";
    Int32 n = 3;
    if (Model.featPack.Count < 3)
    {
        n = Model.featPack.Count;
    }
    for (Int32 i = 0; i <= n - 1; i++)
    {
        switch (i)
        {
            case 0:
                pack3Ids = pack3Ids + Model.featPack[i].PDLID.ToString() + ", ";
                break;
            case 1:
                pack3Ids = pack3Ids + Model.featPack[i].PDLID.ToString() + ", ";
                break;
            case 2:
                pack3Ids = pack3Ids + Model.featPack[i].PDLID.ToString();
                break;
        }
    }
}
@{
    <script type="text/javascript">
        var SiteName = '@_appsettings.Value.ApplicationSettings.SiteName';
        dataLayer.push({'packagesIDs': '@pack3Ids'});
    </script>
}

@if (@Model.leftDisplay.Exists(hi => hi.SDP_GroupProdKindID == 1620))
{
    <input type="hidden" id="interests" value="@Model.leftDisplay.FirstOrDefault(hi => hi.SDP_GroupProdKindID == 1620).SDP_DisplayTitle" />

}
@if (@Model.leftDisplay.Exists(hi => hi.SDP_GroupProdKindID == 1623))
{
    <input type="hidden" id="area" value="@Model.leftDisplay.FirstOrDefault(hi => hi.SDP_GroupProdKindID == 1623).SDP_DisplayTitle" />

}
@if (Model.leftDisplay.Exists(hi => hi.SDP_GroupProdKindID == 1619))
{
    <input type="hidden" id="moreExplore" value="@Model.leftDisplay.FirstOrDefault(hi => hi.SDP_GroupProdKindID == 1619).SDP_DisplayTitle" />
}
@if (Model.leftDisplay.Exists(hi => hi.SDP_GroupProdKindID == 1621))
{
    <input type="hidden" id="atractions" value="@Model.leftDisplay.FirstOrDefault(hi => hi.SDP_GroupProdKindID == 1621).SDP_DisplayTitle" />
}
@if (Model.leftDisplay.Exists(hi => hi.SDP_GroupProdKindID == 2478) || Model.leftDisplay.Exists(hi => hi.SDP_GroupProdKindID == 2470))
{
    <input type="hidden" id="moreTravel" value="@Model.leftDisplay.FirstOrDefault(hi => hi.SDP_GroupProdKindID == 2478).SDP_DisplayTitle" />
}

<div class="dvMbGPContainer">
    <section>
        <h1 class="dvPageTitleWhite">@Model.pageHeaderText</h1>
        @if (Model.leftDisplay.Exists(hi => hi.SDP_GroupProdKindID == 1912))
        {
            <section class="sectionDescription">
                @{List<BoxContent> leftOrientLong = Model.boxContent.FindAll(hi => hi.STX_ProdKindID == 1912);
                }
                @foreach (var at in @leftOrientLong)
                {
                    Int32 pW = 50;
                    Int32 pH = 50;
                    if (at.STX_PictureHeightpx != 0)
                    {
                        pH = at.STX_PictureHeightpx;
                    }
                    if (at.STX_PictureWidthpx != 0)
                    {
                        pW = at.STX_PictureWidthpx;
                    }
                    string xURL = at.STX_Title;
                    if (at.STX_CMSID == 0)
                    {

                        @if (at.STX_PictureURL != "none")
                        {
                            string imgSRC = at.STX_PictureURL.Replace("http:", "https:");

                            <div class="imgBestvac">
                                <img class="delay" src="https://pictures.tripmasters.com/siteassets/d/spacer.gif" data-src="@imgSRC.ToLower()" />
                            </div>
                        }
                        <div class="titleDescription">
                            <p class="descriptionBest">@at.STX_Description</p>
                        </div>
                    }
                }


            </section>

        }
        else
        {
            <div class="dvCenterBox">
                @{
                    if (Model.allTop > 0)
                    {

                        <div class="dvCMSContainerWBorder" style="padding: 0px;">
                            @{
                                string topTitle = "";
                                foreach (var top in Model.allTopDisplay)
                                {
                                    string imgSRC = top.STX_PictureURL.Replace("http:", "https:");
                                    if (top.SDP_DisplayTitle != "none")
                                    {
                                        topTitle = top.SDP_DisplayTitle;
                                    }
                                    else
                                    {
                                        topTitle = top.STX_Title;
                                    }
                                    if (top.STX_CMSID > 0)
                                    {
                                        @Html.Raw(top.CMS_Content.Replace("http:", "https:"));
                                    }
                                    else
                                    {
                                        var imgH = top.STX_PictureHeightpx;
                                        var cimgH = "0";
                                        var imgW = top.STX_PictureWidthpx;
                                        var cimgW = "0";
                                        if (imgH == 0)
                                        {
                                            cimgH = "auto";
                                        }
                                        if (imgW == 0)
                                        {
                                            cimgW = "100%";
                                        }
                                        <img class="delay" src="https://pictures.tripmasters.com/siteassets/d/spacer.gif" data-src="@imgSRC.ToLower()" width="@cimgW" height="@cimgH" align="left" style="margin: 0px 5px 5px 0px;" />
                                        <span class="Text_Arial12">@top.STX_Description</span>
                                    }
                                }
                            }
                        </div>

                    }
                }
            </div>
        }

    </section>
    @if (Model.listFeatItin.Count() > 0)
    {
        <section class="dvMobFeatContenedor">
            <h1 class="dvMobFeatureTitle">best vacation packages</h1>
            @{
                Int32 PDLID = 0;
                Int32 PDLDuration = 0;
                String PDLTitle = "";
                String SPDDescription = "";
                Int32 NoOfFeed = 0;
                String PDLContent = "";
                decimal STPSave = 0;
                String CountryName = "";
                String ImgUrl = "";
                foreach (var p in Model.listFeatItin)
                {
                    PDLID = p.PDLID;
                    PDLTitle = p.PDL_Title;
                    PDLDuration = p.PDL_Duration;
                    NoOfFeed = p.NoOfFeed;
                    SPDDescription = p.SPD_Description;
                    PDLContent = p.PDL_Content;
                    STPSave = p.STP_Save;
                    CountryName = p.CountryName;
                    ImgUrl = p.IMG_Path_URL;
                }
            }
            <div class="dvMobFeatImg">
                <div class="dvMobFeaImConteier"> <img src=@String.Format("https://pictures.tripmasters.com{0}", @ImgUrl.ToLower()) alt="no image" /> </div>
            </div>
            <div class="dvMobFeatInfo">
                <input type="hidden" id="featItinLink" value=@String.Format("{0}/{1}/{2}/package-{3}", _appsettings.Value.ApplicationSettings.SiteName, CountryName.Replace(" ", "_").ToLower(), PDLTitle.Replace(" ", "_").ToLower(), PDLID) />
                <p class="pMobFeatTitle"><a href=@String.Format("{0}/{1}/{2}/package-{3}", _appsettings.Value.ApplicationSettings.SiteName, CountryName.Replace(" ", "_").ToLower(), PDLTitle.Replace(" ", "_").ToLower(), PDLID)>@PDLTitle</a></p>
                <p class="pMobFeatNight">
                    @if (STPSave != 9999)
                    {
                        @Html.Raw(String.Format("{0} nights from <span>{1:C0}*</span>", @PDLDuration, @STPSave))
                    }
                    else
                    {
                        @Html.Raw(String.Format("{0} nights itineray <span>&nbsp;</span>", @PDLDuration))

                    }
                </p>
                @if (@NoOfFeed > 0)
                {
                    <p class="pMobFeatFeed"><a href=@String.Format("{0}/{1}/{2}/package-{3}", _appsettings.Value.ApplicationSettings.SiteName, CountryName.Replace(" ", "_").ToLower(), PDLTitle.Replace(" ", "_").ToLower(), PDLID)>@NoOfFeed Customer Reviews</a></p>

                }
                <div class="pMobFeatDesc">@Html.Raw(@SPDDescription)</div>
                <p class="pMobFeatIncld">
                    <b>Included:</b>
                    <ul class="ulPackage">
                        @{
                            string[] includeList = PDLContent.Split("\r\n");
                            foreach (var fpr in includeList)
                            {
                                <li>
                                    @Html.Raw(@fpr)
                                </li>
                            }
                        }
                    </ul>
                </p>

            </div>
            <div class="dvMobCustomIt" data-url=@String.Format("{0}/{1}/{2}/package-{3}", _appsettings.Value.ApplicationSettings.SiteName, CountryName.Replace(" ", "_").ToLower(), PDLTitle.Replace(" ", "_").ToLower(), PDLID)> <span>Customize It<font>&rsaquo;</font></span> </div>

        </section>
    }

    @if (Model.otherFeatured.Count() > 0)
    {
        <section class="dvFeatItin">
            <h1 class="dvFeatItinTitle">Other Vacation Packages</h1>
            <div style="clear:both"></div>
            <div class="dvtableH">
                <ul class="dvtr" style="padding:0px;list-style:none">
                    @{
                        int hc = 0;
                        foreach (var h in Model.otherFeatured.Take(2))
                        {
                            if (hc > 0 & hc % 2 == 0)
                            {
                                @Html.Raw("</ul>")
                                @Html.Raw("<ul class='dvtr' style='padding:0px;list-style:none'>");
                            }
                            <li class="dvtd">
                                <div class="packageBest">
                                    <div class="dvEachFeatItin" data-go-to="@h.PDLID">
                                        <div class="dvEachFeatImg">
                                            <img class="delay" alt="@h.PDL_Title " src="https://pictures.tripmasters.com/siteassets/d/spacer.gif" data-src=@String.Format("https://pictures.tripmasters.com{0}", @h.IMG_Path_URL) />
                                        </div>
                                        <div class="dvEachFeatInfo" style="list-style: none;">
                                            <div>
                                                <p class="packageTitleMob"><a href=@String.Format("{0}/{1}/{2}/package-{3}", _appsettings.Value.ApplicationSettings.SiteName, h.CountryName.Replace(" ", "_").ToLower(), h.PDL_Title.Replace(" ", "_").ToLower(), h.PDLID)>@h.PDL_Title</a></p>
                                                @if (h.STP_Save != 9999)
                                                {
                                                    <p class="priceGrey">
                                                        @Html.Raw(String.Format("{0} nights from <span>{1:C0}*</span>", h.PDL_Duration, h.STP_Save))

                                                    </p>
                                                }
                                                else
                                                {
                                                    <p class="priceGrey">
                                                        @Html.Raw(String.Format("{0} nights itinerary <span>&nbsp;</span>", h.PDL_Duration))
                                                    </p>
                                                }
                                                <p class="pReviews">
                                                    @if (h.NoOfFeed > 0)
                                                    {
                                                        <a class="aCFB" href=@String.Format("{0}/{1}/{2}/feedback-{3}", _appsettings.Value.ApplicationSettings.SiteName, h.CountryName.Replace(" ", "_").ToLower(), h.PDL_Title.Replace(" ", "_").ToLower(), h.PDLID)>@h.NoOfFeed Customer Reviews</a>
                                                    }
                                                </p>
                                            </div>
                                        </div>
                                        <div class="dvMoreDetail" data-go-to="@h.PDLID"> <span class="moreDetailsSpan">More details</span><span class="spArrow" id=@String.Format("spArrow{0}", h.PDLID)>&rsaquo;</span></div>
                                        <div id=@String.Format("BGDown{0}", h.PDLID) class="BGDown" style="display: none;">
                                            <div>&nbsp;</div>
                                        </div>
                                    </div>
                                    <div style="clear:both"></div>
                                </div>
                                <br />
                            </li>

                            hc = hc + 1;
                        }
                        <div style="clear:both"></div>

                        <div class="dvInfoPackage">
                            @{int hif = 0;
                                foreach (var h in Model.otherFeatured.Take(2))
                                {
                                    <div class="dvEachFeatDesc" id=@String.Format("dvFeat{0}", h.PDLID)>
                                        <div class="dvFeatPromo">@Html.Raw(String.Format("{0}", @h.SPD_Description))</div>
                                        <div class="dvFeatInclud">
                                            <b>Included:</b>
                                            <ul>
                                                @{string[] featIncl = h.PDL_Content.Split("\r\n");
                                                    foreach (var incl in featIncl)
                                                    {
                                                        <li style="list-style:disc;">@Html.Raw(@incl)</li>
                                                    }
                                                }
                                            </ul>
                                            <a class="dvFeatViewIt" href=@String.Format("{0}/{1}/{2}/package-{3}", _appsettings.Value.ApplicationSettings.SiteName, h.CountryName.Replace(" ", "_").ToLower(), h.PDL_Title.Replace(" ", "_").ToLower(), h.PDLID)>View It</a>
                                        </div>
                                    </div>
                                    hif = hif + 1;
                                }
                            }
                        </div>
                    }
                </ul>
            </div>
            <div style="clear:both"></div>
            <div class="dvtableH">
                <ul class="dvtr" style="padding:0px;list-style:none">
                    @{
                        int hci = 0;
                        foreach (var h in Model.otherFeatured.Skip(2).Take(2))
                        {
                            if (hci > 0 & hci % 2 == 0)
                            {
                                @Html.Raw("</ul>")
                                @Html.Raw("<ul class='dvtr' style='padding:0px;list-style:none'>");
                            }
                            <li class="dvtd">
                                <div class="packageBest">
                                    <div class="dvEachFeatItin" data-go-to="@h.PDLID">
                                        <div class="dvEachFeatImg">
                                            <img class="delay" alt="@h.PDL_Title " src="https://pictures.tripmasters.com/siteassets/d/spacer.gif" data-src=@String.Format("https://pictures.tripmasters.com{0}", @h.IMG_Path_URL) />
                                        </div>
                                        <div class="dvEachFeatInfo" style="list-style: none;">
                                            <div>
                                                <p class="packageTitleMob">
                                                    @if (h.NoOfFeed > 0)
                                                    {
                                                        <a href=@String.Format("{0}/{1}/{2}/package-{3}", _appsettings.Value.ApplicationSettings.SiteName, h.CountryName.Replace(" ", "_").ToLower(), h.PDL_Title.Replace(" ", "_").ToLower(), h.PDLID)>@h.PDL_Title</a>
                                                    }
                                                </p>
                                                @if (h.STP_Save != 9999)
                                                {
                                                    <p class="priceGrey">
                                                        @Html.Raw(String.Format("{0} nights from <span>{1:C0}*</span>", h.PDL_Duration, h.STP_Save))

                                                    </p>
                                                }
                                                else
                                                {
                                                    <p class="priceGrey">
                                                        @Html.Raw(String.Format("{0} nights itinerary <span>&nbsp;</span>", h.PDL_Duration))
                                                    </p>
                                                }
                                                <p class="pReviews">
                                                    @if (h.NoOfFeed > 0)
                                                    {
                                                        <a class="aCFB" href=@String.Format("{0}/{1}/{2}/feedback-{3}", _appsettings.Value.ApplicationSettings.SiteName, h.CountryName.Replace(" ", "_").ToLower(), h.PDL_Title.Replace(" ", "_").ToLower(), h.PDLID)>@h.NoOfFeed Customer Reviews</a>
                                                    }
                                                </p>
                                            </div>
                                        </div>
                                        <div class="dvMoreDetail" data-go-to="@h.PDLID"> <span class="moreDetailsSpan">More details</span><span class="spArrow" id=@String.Format("spArrow{0}", h.PDLID)>&rsaquo;</span></div>
                                        <div id=@String.Format("BGDown{0}", h.PDLID) class="BGDown" style="display: none;">
                                            <div>&nbsp;</div>
                                        </div>
                                    </div>
                                    <div style="clear:both"></div>
                                </div>
                                <br />
                            </li>

                            hci = hci + 1;
                        }
                        <div style="clear:both"></div>

                        <div class="dvInfoPackage">
                            @{int hf = 0;
                                foreach (var h in Model.otherFeatured.Skip(2).Take(2))
                                {
                                    <div class="dvEachFeatDesc" id=@String.Format("dvFeat{0}", h.PDLID)>
                                        <div class="dvFeatPromo">@Html.Raw(String.Format("{0}", @h.SPD_Description))</div>
                                        <div class="dvFeatInclud">
                                            <b>Included:</b>
                                            <ul>
                                                @{string[] featIncl = h.PDL_Content.Split("\r\n");
                                                    foreach (var incl in featIncl)
                                                    {
                                                        <li style="list-style:disc;">@Html.Raw(@incl)</li>
                                                    }
                                                }
                                            </ul>
                                            <a class="dvFeatViewIt" href=@String.Format("{0}/{1}/{2}/package-{3}", _appsettings.Value.ApplicationSettings.SiteName, h.CountryName.Replace(" ", "_").ToLower(), h.PDL_Title.Replace(" ", "_").ToLower(), h.PDLID)>View It</a>
                                        </div>
                                    </div>
                                    hf = hf + 1;
                                }
                            }
                        </div>
                    }
                </ul>
            </div>
        </section>
    }

    @*start Regions (Highlights) and More to explore(Area) and longOrientation-*@
    @if (Model.areaHighlightOrientation.Exists(hi => hi.SDP_GroupProdKindID == 1623 || hi.SDP_GroupProdKindID == 1619 || hi.SDP_GroupProdKindID == 1621 || hi.SDP_DisplayProdKindID == 1620 || hi.SDP_GroupProdKindID == 2470 || hi.SDP_GroupProdKindID == 2478))
    {
        foreach (var r in Model.areaHighlightOrientation)
        {
            Int32 boxOn = @r.SDP_GroupProdKindID;
            string displayTitle = r.SDP_DisplayTitle;
            switch (boxOn)
            {
                @*start Highlights 2*@
                case 1623:
                    @if (Model.leftDisplay.Exists(hi => hi.SDP_GroupProdKindID == 1623))
                    {
                        <section class="reghighlights" id="1623">
                            <h1 class="titleRegion">@Model.leftDisplay.FirstOrDefault(hi => hi.SDP_GroupProdKindID == 1623).SDP_DisplayTitle</h1>
                            @Html.Raw("<div class='region'>")
                            @Html.Raw("<ul class='ulreg'>")

                            @{
                                List<BoxContent> Regions = Model.boxContent.FindAll(hi => hi.STX_ProdKindID == 1623);
                                Int32 noReg = 0;
                                foreach (var hi in Regions)
                                {
                                    string xpicURL;
                                    Int32 pW = 50;
                                    Int32 pH = 50;
                                    if (hi.STX_PictureHeightpx != 0)
                                    {
                                        pH = hi.STX_PictureHeightpx;
                                    }
                                    if (hi.STX_PictureWidthpx != 0)
                                    {
                                        pW = hi.STX_PictureWidthpx;
                                    }
                                    string xURL = hi.STX_Title;
                                    if (hi.STX_URL != "none")
                                    {
                                        xpicURL = hi.STX_URL;
                                        if (xpicURL[0].ToString() == "/")
                                        {
                                            xpicURL = @ViewBag.AppBasePath + xpicURL.Replace("%20", "_").Replace("/europe", "");
                                        }
                                        if (xpicURL[0].ToString() == "h")
                                        {
                                            if (System.Text.RegularExpressions.Regex.Match(xpicURL, "\bbeach\b.|\blatin\b.|\beurope\b.|\basia\b.", System.Text.RegularExpressions.RegexOptions.IgnoreCase).Success)
                                            {

                                            }
                                        }
                                        xURL = "<a href='" + xpicURL.ToLower() + "'>" + hi.STX_Title + "</a>";
                                    }

                                    if (hi.STX_CMSID == 0)
                                    {
                                        if (noReg == 2)
                                        {
                                            @Html.Raw("</ul>");
                                            <br style="clear:both" />
                                            @Html.Raw("</div>");
                                            @Html.Raw("<ul id='dvEachHide' class='dvEachHide'>");
                                        }

                                        <li class="dvregion">
                                            <div class="divEachReg">
                                                @if (hi.STX_PictureURL != "none")
                                                {
                                                    string imgSRC = hi.STX_PictureURL.Replace("http:", "https:");
                                                    <a href=@String.Format("{0}{1}", _appsettings.Value.ApplicationSettings.SiteName, hi.STX_URL.ToLower())><img class="regionImgR" src="@imgSRC.ToLower()" alt="@hi.STX_Title" /></a>
                                                }

                                            </div>
                                            <div class="nameRegion"><a href=@String.Format("{0}{1}", _appsettings.Value.ApplicationSettings.SiteName, hi.STX_URL.ToLower())>@hi.STX_Title</a> </div>
                                            <div class="moreDescription">
                                                <p class="pMoreDescription" style="font-size:13px"> @Html.Raw((hi.STX_Description == "none") ? "" : hi.STX_Description) </p>
                                            </div>

                                            <div style="clear:both"></div>
                                        </li>
                                    }
                                    else
                                    {
                                        <div style="display:block">
                                            <div style=" overflow:auto">@hi.CMS_Content.Replace("http:", "https:")</div>
                                        </div>

                                    }
                                    noReg = noReg + 1;

                                }

                                <div style="clear:both"></div>
                            }
                            @Html.Raw("</ul>")
                            @if (Regions.Count() > 2)
                            {
                                <div class="moreButton" id="moreButtonReg">See All @Model.leftDisplay.FirstOrDefault(hi => hi.SDP_GroupProdKindID == 1623).SDP_DisplayTitle<span>&rsaquo;</span></div>

                            }
                            <div class="blueLineBottom"></div>
                        </section>
                    }


                    break;
                @*start  highlight3*@
                case 1619:
                    @if (Model.leftDisplay.Exists(hi => hi.SDP_GroupProdKindID == 1619))
                    {
                        <section class="sectionMore" id="1619">
                            <h1 class="titleMoreExplore">@Model.leftDisplay.FirstOrDefault(hi => hi.SDP_GroupProdKindID == 1619).SDP_DisplayTitle</h1>
                            @Html.Raw("<ul class='ulMore'>")

                            @{
                                List<BoxContent> MoreToExplore = Model.boxContent.FindAll(hi => hi.STX_ProdKindID == 1619);
                                Int32 noMoreToExplore = 0;
                                foreach (var hi in MoreToExplore)
                                {
                                    Int32 pW = 50;
                                    Int32 pH = 50;
                                    if (hi.STX_PictureHeightpx != 0)
                                    {
                                        pH = hi.STX_PictureHeightpx;
                                    }
                                    if (hi.STX_PictureWidthpx != 0)
                                    {
                                        pW = hi.STX_PictureWidthpx;
                                    }
                                    string xURL = hi.STX_Title;
                                    if (hi.STX_URL != "none")
                                    {
                                        string xpicURL = hi.STX_URL;
                                        if (xpicURL[0].ToString() == "/")
                                        {
                                            xpicURL = @ViewBag.AppBasePath + xpicURL.Replace("%20", "_").Replace("/europe", "");
                                        }
                                        if (xpicURL[0].ToString() == "h")
                                        {
                                            if (System.Text.RegularExpressions.Regex.Match(xpicURL, "\bbeach\b.|\blatin\b.|\beurope\b.|\basia\b.", System.Text.RegularExpressions.RegexOptions.IgnoreCase).Success)
                                            {

                                            }
                                        }
                                        xURL = "<a href='" + xpicURL.ToLower() + "'>" + hi.STX_Title + "</a>";
                                    }

                                    if (hi.STX_CMSID == 0)
                                    {
                                        if (noMoreToExplore == 3)
                                        {
                                            @Html.Raw("</ul>");
                                            <br style="clear:both" />
                                            @Html.Raw("<ul id='dvEachHideExpl' class='dvEachHideExpl pl-0'>");
                                        }

                                        <li class="moreExplore">
                                            <div class="divdvregion">
                                                @if (hi.STX_PictureURL != "none")
                                                {
                                                    string imgSRC = hi.STX_PictureURL.Replace("http:", "https:");
                                                    <a href=@String.Format("{0}{1}", @_appsettings.Value.ApplicationSettings.SiteName, @hi.STX_URL.ToLower())><img src="@imgSRC.ToLower()" alt="@hi.STX_Title" style="max-height:200px;max-width:200px;width:200px;height:200px" /></a>
                                                }

                                            </div>
                                            <div class="titleMore">
                                                <span class="titleSpanMore">
                                                    <a href=@String.Format("{0}{1}", _appsettings.Value.ApplicationSettings.SiteName,hi.STX_URL.Replace(" ","_").ToLower())>@hi.STX_Title</a>
                                                </span>
                                                <img class="delay" src="https://pictures.tripmasters.com/siteassets/d/spacer.gif" data-src="https://pictures.tripmasters.com/siteassets/d/icon-next-blue-light-braun-md.png" />
                                            </div>
                                            <div class="moreDescription">
                                                <p class="pMoreDescription" style="font-size:13px"> @Html.Raw((hi.STX_Description == "none") ? "" : hi.STX_Description) </p>
                                            </div>

                                            <div style="clear:both"></div>
                                        </li>
                                    }
                                    else
                                    {
                                        <div style="display:block">
                                            <div style=" overflow:auto">@hi.CMS_Content.Replace("http:", "https:")</div>
                                        </div>

                                    }
                                    noMoreToExplore = noMoreToExplore + 1;

                                }

                                <div style="clear:both"></div>
                            }
                            @Html.Raw("</ul>")
                            @if (MoreToExplore.Count() > 3)
                            {
                                <div class="moreButtonExpl" id="moreButtonExpl">See @Model.leftDisplay.FirstOrDefault(hi => hi.SDP_GroupProdKindID == 1619).SDP_DisplayTitle<span class="arrowMore">&rsaquo;</span></div>

                            }
                            <div class="blueLineBottom"></div>
                        </section>
                    }


                    break;
                @*Start highlight1*@
                case 1620:
                    <section class="sectionHighlights">
                        <h1 class="titleRegion" id="1620">@Model.leftDisplay.FirstOrDefault(hi => hi.SDP_GroupProdKindID == 1620).SDP_DisplayTitle</h1>
                        @Html.Raw("<div class='region'>")
                        @Html.Raw("<ul class='ulreg'>")

                        @{
                            List<BoxContent> Highlihgt4 = Model.boxContent.FindAll(hi => hi.STX_ProdKindID == 1620);
                            Int32 noHighlihgt4 = 0;
                            foreach (var hi in Highlihgt4)
                            {
                                string xpicURL;
                                Int32 pW = 50;
                                Int32 pH = 50;
                                if (hi.STX_PictureHeightpx != 0)
                                {
                                    pH = hi.STX_PictureHeightpx;
                                }
                                if (hi.STX_PictureWidthpx != 0)
                                {
                                    pW = hi.STX_PictureWidthpx;
                                }
                                string xURL = hi.STX_Title;
                                if (hi.STX_URL != "none")
                                {
                                    xpicURL = hi.STX_URL;
                                    if (xpicURL[0].ToString() == "/")
                                    {
                                        xpicURL = @ViewBag.AppBasePath + xpicURL.Replace("%20", "_").Replace("/europe", "");
                                    }
                                    if (xpicURL[0].ToString() == "h")
                                    {
                                        if (System.Text.RegularExpressions.Regex.Match(xpicURL, "\bbeach\b.|\blatin\b.|\beurope\b.|\basia\b.", System.Text.RegularExpressions.RegexOptions.IgnoreCase).Success)
                                        {

                                        }
                                    }
                                }

                                if (hi.STX_CMSID == 0)
                                {
                                    if (noHighlihgt4 == 2)
                                    {
                                        @Html.Raw("</ul>")
                                        <br style="clear:both" />
                                        @Html.Raw("</div>")
                                        @Html.Raw("<ul id='dvEachHideInt' class='dvEachHideInt'>")
                                    }

                                    <li class="dvregion">
                                        <div class="divEachReg">
                                            @if (hi.STX_PictureURL != "none")
                                            {
                                                string imgSRC = hi.STX_PictureURL.Replace("http:", "https:");
                                                <a href=@String.Format("{0}{1}", @_appsettings.Value.ApplicationSettings.SiteName, @hi.STX_URL.ToLower())><img class="delay regionImgR" src="https://pictures.tripmasters.com/siteassets/d/spacer.gif" data-src="@imgSRC.ToLower()" alt="@hi.STX_Title" style="max-height:200px;max-width:200px;" /></a>
                                            }

                                        </div>
                                        <div class="nameRegion">
                                            <span><a href=@String.Format("{0}{1}", @_appsettings.Value.ApplicationSettings.SiteName, @hi.STX_URL.ToLower())>@hi.STX_Title</a></span>
                                            <p class="pMoreDescription"> @Html.Raw((hi.STX_Description == "none") ? "" : hi.STX_Description) </p>
                                        </div>

                                        <div style="clear:both"></div>
                                    </li>
                                }
                                else
                                {
                                    <div style="display:block">
                                        <div style=" overflow:auto">@hi.CMS_Content.Replace("http:", "https:")</div>
                                    </div>

                                }
                                noHighlihgt4 = noHighlihgt4 + 1;

                            }

                            <div style="clear:both"></div>
                        }
                        @Html.Raw("</ul>")
                        @if (Highlihgt4.Count() > 2)
                        {
                            <div class="moreButtonInt" id="moreButtonInt">See All @Model.leftDisplay.FirstOrDefault(hi => hi.SDP_GroupProdKindID == 1620).SDP_DisplayTitle<span>&rsaquo;</span></div>

                        }
                        <div class="blueLineBottom"></div>
                    </section>

                    break;
                case 1621:
                    <section class="sectionHighlights">
                        <h1 class="titleRegion" id="1621">@Model.leftDisplay.FirstOrDefault(hi => hi.SDP_GroupProdKindID == 1621).SDP_DisplayTitle</h1>
                        @Html.Raw("<div class='region'>")
                        @Html.Raw("<ul class='ulMore'>")

                        @{
                            List<BoxContent> Attractions = Model.boxContent.FindAll(hi => hi.STX_ProdKindID == 1621);
                            Int32 noAtt = 0;
                            foreach (var hi in Attractions)
                            {
                                string xpicURL;
                                Int32 pW = 50;
                                Int32 pH = 50;
                                if (hi.STX_PictureHeightpx != 0)
                                {
                                    pH = hi.STX_PictureHeightpx;
                                }
                                if (hi.STX_PictureWidthpx != 0)
                                {
                                    pW = hi.STX_PictureWidthpx;
                                }
                                string xURL = hi.STX_Title;
                                if (hi.STX_URL != "none")
                                {
                                    xpicURL = hi.STX_URL;
                                    if (xpicURL[0].ToString() == "/")
                                    {
                                        xpicURL = @ViewBag.AppBasePath + xpicURL.Replace("%20", "_").Replace("/europe", "");
                                    }
                                    if (xpicURL[0].ToString() == "h")
                                    {
                                        if (System.Text.RegularExpressions.Regex.Match(xpicURL, "\bbeach\b.|\blatin\b.|\beurope\b.|\basia\b.", System.Text.RegularExpressions.RegexOptions.IgnoreCase).Success)
                                        {

                                        }
                                    }
                                }

                                if (hi.STX_CMSID == 0)
                                {
                                    if (noAtt == 2)
                                    {
                                        @Html.Raw("</ul>");
                                        <br style="clear:both" />
                                        @Html.Raw("</div>");
                                        @Html.Raw("<ul id='dvEachHideAt' class='dvEachHideAt'>");
                                    }

                                    <li class="dvregion">
                                        <div class="divEachReg">
                                            @if (hi.STX_PictureURL != "none")
                                            {
                                                string imgSRC = hi.STX_PictureURL.Replace("http:", "https:");
                                                <a href=@String.Format("{0}{1}", @_appsettings.Value.ApplicationSettings.SiteName, @hi.STX_URL.ToLower())><img class="delay" src="https://pictures.tripmasters.com/siteassets/d/spacer.gif" data-src="@imgSRC.ToLower()" alt="@hi.STX_Title" style="max-height:200px;max-width:200px;" /></a>
                                            }

                                        </div>
                                        <div class="nameRegion">
                                            <span><a href=@String.Format("{0}{1}", @_appsettings.Value.ApplicationSettings.SiteName, @hi.STX_URL.ToLower())>@hi.STX_Title</a></span>
                                            <p class="pMoreDescription"> @Html.Raw((hi.STX_Description == "none") ? "" : hi.STX_Description) </p>
                                        </div>

                                        <div style="clear:both"></div>
                                    </li>
                                }
                                else
                                {
                                    <div style="display:block">
                                        <div style=" overflow:auto">@hi.CMS_Content.Replace("http:", "https:")</div>
                                    </div>

                                }
                                noAtt = noAtt + 1;

                            }

                            <div style="clear:both"></div>
                        }
                        @Html.Raw("</ul>")
                        @if (Attractions.Count() > 2)
                        {
                            <div class="moreButtonAt" id="moreButtonAt">See All @Model.leftDisplay.FirstOrDefault(hi => hi.SDP_GroupProdKindID == 1621).SDP_DisplayTitle<span>&rsaquo;</span></div>

                        }
                        <div class="blueLineBottom"></div>
                    </section>

                    break;
                @*Start Travel links*@
                case 2470:
                case 2478:
                    var kindId = boxOn;
                    if (Model.leftDisplay.Exists(hi => hi.SDP_GroupProdKindID == kindId))
                    {
                        <section class="sectionDescription">
                            <h1 class="titleRegion" id="@r.SDP_GroupProdKindID longOrientation">@r.SDP_DisplayTitle.Replace("_", " ") </h1>
                            @Html.Raw("<ul class='ulinterests'>")
                            @{
                                List<BoxContent> leftOrientLong = Model.boxContent.FindAll(hi => hi.STX_ProdKindID == kindId);
                                Int32 noInterest = 0;
                            }
                            @foreach (var at in @leftOrientLong)
                            {

                                if (at.STX_CMSID == 0)
                                {
                                    if (noInterest == 2)
                                    {
                                        @Html.Raw("</ul>")
                                        ;
                                        <br style="clear:both" />
                                        @Html.Raw("<ul id='dvEachHideTravel' class='dvEachHideTravel'>")
                                        ;
                                    }
                                    @if (at.STX_PictureURL != "none")
                                    {
                                        string imgSRC = at.STX_PictureURL.Replace("http:", "https:");
                                        <li class="liInterest">
                                            <div class="imgInterests">
                                                <a href=@String.Format("{0}", at.STX_URL)><img class="delay" src="https://pictures.tripmasters.com/siteassets/d/spacer.gif" data-src="@at.STX_PictureURL.ToLower()" /></a>
                                            </div>
                                            <div class="titleDescription">
                                                <h2 class="Text_Arial20_Blue"><a href=@String.Format("{0}", at.STX_URL)>@at.STX_Title</a></h2>
                                                <p class="descriptionBest">@at.STX_Description</p>
                                            </div>

                                        </li>
                                    }

                                    <div style="clear:both"></div>

                                }
                                else
                                {
                                    <div style="margin:3px 5px 10px 5px; display:block">
                                        <div style=" overflow:auto">
                                            @at.CMS_Content.Replace("http:", "https:")
                                        </div>
                                    </div>
                                }
                                noInterest = noInterest + 1;

                            }
                            @Html.Raw("</ul>")
                            @if (leftOrientLong.Count() > 2)
                            {
                                <div class="moreButtonTravel" id="moreButtonTravel">See All @displayTitle</div>

                            }
                        </section>
                    }

                    break;
            }


        }
    }
    @**End Highlights, Area and LongOrientation**@


    @if (Model.listReviews.Count() > 0)
    {
        <section class="sectionPopularPack">
            <h1 class=" titlePopularPack">popular vacation packages</h1>
            <ul class="ulPopularVacation">

                @foreach (var rv in Model.listReviews)
                {
                    <li class="grad">
                        <div>
                            <div class="ImgPopPackage">
                                <a href=@String.Format("{0}/{1}/{2}/package-{3}", _appsettings.Value.ApplicationSettings.SiteName, rv.CountryName.Replace(" ", "_").ToLower(), rv.PDL_Title.Replace(" ", "_").ToLower(), rv.PDLID)>
                                    <img class="delay imgPopPack" src="https://pictures.tripmasters.com/siteassets/d/spacer.gif" data-src=@string.Format("https://pictures.tripmasters.com{0}", rv.IMG_Path_URL) />
                                </a>
                            </div>
                            <div class="titlepackage">
                                <p> <a class="aPackage" href=@String.Format("{0}/{1}/{2}/package-{3}",_appsettings.Value.ApplicationSettings.SiteName, rv.CountryName.Replace(" ","_").ToLower(), rv.PDL_Title.Replace(" ","_").ToLower(), rv.PDLID)>@rv.PDL_Title</a></p>


                                @if (rv.STP_Save != 9999)
                                {
                                    <div class="noNtsPackPop">@Html.Raw(String.Format("{0} nights from <span class='spSuggestPrice'>{1:C0}*</span>", rv.STP_NumOfNights, rv.STP_Save))</div>
                                }
                                else
                                {

                                    <div style="padding:2px 3px 2px 0px;  width:145px;margin-left:10px;"></div>
                                }
                            </div>
                            <div class="dvComment">@Html.Raw(@Utilities.FormatCustomerComment(rv.Comment, 110))</div>
                            <div class="dvReadMore">
                                <a href=@String.Format("{0}/{1}/{2}/feedback-{3}",_appsettings.Value.ApplicationSettings.SiteName,rv.CountryName.Replace(" ","_").ToLower(),rv.PDL_Title.Replace(" ","_").ToLower(),rv.PDLID)>
                                    Read more - See this traveler's itinerary
                                </a>
                            </div>
                            <div class="Text_12 TravelOn">Traveled on: @rv.dep_date.ToShortDateString() </div>
                            <button class="dvFeatViewItTravel" style="padding-bottom:5px;">
                                <a href=@String.Format("{0}/{1}/{2}/package-{3}",_appsettings.Value.ApplicationSettings.SiteName,rv.CountryName.Replace(" ","_").ToLower(),rv.PDL_Title.Replace(" ","_").ToLower(), rv.PDLID)>View It</a>
                            </button>
                            <br style="clear:both" />
                        </div>
                    </li>
                }
            </ul>
        </section>
    }
    <div class="dvMBYOImg">
        <span class="spArrows" lang="&raquo;"></span>
        <a class="aCustItin" href="https://www.tripmasters.com/build_your_own_vacation" data-prefetch="true" data-ajax="false">Customize your Itinerary</a>
        <a href="https://www.tripmasters.com/build_your_own_vacation" data-prefetch="true" data-ajax="false"><img class="delay" src="https://pictures.tripmasters.com/siteassets/d/spacer.gif" data-src="https://pictures.tripmasters.com/siteassets/m/BYO.jpg" /></a>
    </div>

    @if (Model.boxSugg.Count() > 0)
    {
        int foN = 0;
        string otherLns;
        string[] otherLn;
        string dvStyle = "";
        Int32 lastPack = Model.boxFeaturPacks.Count - 5;
        Int32 othC = 1;
        if (lastPack > 4)
        {
            <section class="dvPackages">
                <h1> Suggested Vacation Packages <span class="h1span">></span></h1>
            </section>
            <ul class="hidedvPackages">
                @{
                    othC = 1;
                    Int32 bnn = 0;
                    string margT;
                    string bg = "";
                    @if ((lastPack - foN) + 1 > 6)
                    {
                        bnn = 6;
                    }
                    else
                    {
                        bnn = lastPack;
                    }
                    @for (Int32 fo = foN; fo <= lastPack; fo++)
                    {
                        otherLns = Model.boxFeaturPacks[fo].ToString();
                        otherLn = otherLns.Split("|");
                        if (othC == 1)
                        {
                            margT = "10px";
                        }
                        else
                        {
                            margT = "5px";
                        }

                        <li class="lisuggestedPackages ">
                            <div class="titlesuggetedPackages">
                                <span style="cursor: pointer">
                                    <a style="color:#1B2560;text-decoration:none" href=@String.Format("{0}/{1}/{2}/package-{3}", _appsettings.Value.ApplicationSettings.SiteName,otherLn[9].Replace(" ","_").ToLower(),otherLn[1].Replace(" ","_").ToLower(),otherLn[0])>@otherLn[1]</a>
                                </span>
                            </div>
                            @if (otherLn[4] != "9999")
                            {
                                <div class="pac">
                                    <span style="cursor: pointer">
                                        <a style="color:black;text-decoration:none" href=@String.Format("{0}/{1}/{2}/package-{3}", _appsettings.Value.ApplicationSettings.SiteName,otherLn[9].Replace(" ","_").ToLower(),otherLn[1].Replace(" ","_").ToLower(),otherLn[0])>
                                            @otherLn[3] nights from
                                            <b class="Orange-Arial12NB">
                                                @Html.Raw(Decimal.Parse(otherLn[4]).ToString("C0", System.Globalization.CultureInfo.CurrentCulture))*
                                            </b>
                                        </a>
                                    </span>
                                </div>
                            }
                            else
                            {
                                <div class="pac">
                                    <span id=@String.Format("mrDtls{0}", otherLn[0]) style="cursor: pointer">
                                        <a style="color:black;text-decoration:none" href=@String.Format("{0}/{1}/{2}/package-{3}", _appsettings.Value.ApplicationSettings.SiteName,otherLn[9].Replace(" ","_").ToLower(),otherLn[1].Replace(" ","_").ToLower(),otherLn[0])>
                                            More details
                                        </a>
                                    </span>
                                </div>
                            }
                            <div style="clear: both">
                            </div>
                            @{
                                string lnGuiNo = "none";
                                @if (otherLn[7].Contains("1784:."))
                                {
                                    lnGuiNo = "Guided";
                                }
                                else
                                {
                                    if (otherLn[7].Contains("1785:."))
                                    {
                                        lnGuiNo = "Partially Guided";
                                    }
                                }
                                if (lnGuiNo != "none")
                                {
                                    <div align="left" id=@String.Format("{0}|{1}|F", lnGuiNo, otherLn[0]) class="Text_12_Gray" style="cursor: pointer;width: 100px; padding: 0px 15px;" onmouseover="showPopUp(this.id)" onmouseout="hidePopUp(this.id)">
                                        @lnGuiNo
                                    </div>
                                }
                            }
                        </li>
                        othC = othC + 1;

                    }
                }

            </ul>


        }
    }


    @*Strat countries*@
    @if (Model.leftDisplay.Exists(hi => hi.SDP_GroupProdKindID == 1915))
    {
        <section class="Countries">
            <h1 class="titleSectionCities">@Model.leftDisplay.FirstOrDefault(hi => hi.SDP_GroupProdKindID == 1915).SDP_DisplayTitle <span class="h1span">></span></h1>
        </section>
        <ul class="hidedvCountry">
            @{
                int noC = 0;
                foreach (var pl in Model.placesOnWeightCountry)
                {
                    <li id=@String.Format("dv{0}",pl.STR_PlaceID) class="dvBoxCombCounInfo" lang=@String.Format("{0}/{1}/vacations" ,_appsettings.Value.ApplicationSettings.SiteName, @pl.STR_PlaceTitle.Replace(" ","_").ToLower())>
                        <div class="dvBoxCombCounTitle">@pl.STR_PlaceTitle</div>
                        <div class="cnArrowRight"></div>
                    </li>
                    noC = noC + 1;
                }
                <div style="clear:both"></div>
            }
        </ul>
    }
    @*end countries*@

    @*start cities*@

    @if (Model.leftDisplay.Exists(hi => hi.SDP_GroupProdKindID == 1881))
    {
        <section class="Cities">
            <h1>@Model.leftDisplay.FirstOrDefault(hi => hi.SDP_GroupProdKindID == 1881).SDP_DisplayTitle <span class="h1span">></span></h1>
        </section>
        <ul class="hidedvCities">
            @{ int noC = 0;
                foreach (var pl in Model.citesOnWeight)
                {
                    <li id=@String.Format("dv{0}",pl.STR_PlaceID) class="dvBoxCombCounInfo" lang=@String.Format("{0}/{1}/vacations" ,_appsettings.Value.ApplicationSettings.SiteName, @pl.STR_PlaceTitle.Replace(" ","_").ToLower())>
                        <div class="dvBoxCombCounTitle">@pl.STR_PlaceTitle</div>
                        <div class="cnArrowRight"></div>
                    </li>
                    noC = noC + 1;
                }
            }
        </ul>
    }
    @*end cities*@
</div>

@section Scripts
    {
    <environment include="Development">
        <script src="~/js/gp3-BestVacations_m/mb.java.gp3BestVacationsMob.js"></script>
    </environment>
    <environment exclude="Development">
        <script type="text/javascript" src="//static.criteo.net/js/ld/ld.js"></script>
        <script src="~/js/gp3-BestVacations_m/mb.java.gp3BestVacationsMob.min.js" asp-append-version="true"></script>
    </environment>
}