@model MVC_TMED.Models.ViewModels.ToursViewModel
@using MVC_TMED.Infrastructure;
@using Microsoft.Extensions.Options;
@using System.Text.RegularExpressions;
@inject IOptions<AppSettings> _appsettings
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
@{
    ViewBag.Mobile = 0;

    if (Utilities.CheckMobileDevice() == true)
    {
        ViewBag.Mobile = 1;
        
    }
}


<environment include="Development">
    <link rel="stylesheet" href="~/css/travel/dm.style.travel.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

</environment>
<environment exclude="Development">
    <link rel="stylesheet" href="~/css/travel/dm.style.travel.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

</environment>



@{

    Decimal overAllAvg = 0;
    Decimal defw = 120;
    Decimal w = 0;
    overAllAvg = Decimal.Round(Model.Score, 1);
    w = Decimal.Round((overAllAvg * defw) / 5, 1);
    string webServer = "";
}

@{
    List<long> offerPrices = new List<long>();
    List<string> offerUrl = new List<string>();
    long lowP = 500;
    long highP = 9999;
    long reviewC = Model.packFeedCountC;
    if (Model.listFeatured.Count > 0)
    {
        foreach (var z in Model.listFeatured)
        {
            if (z.STP_save != 9999)
            {
                offerPrices.Add(z.STP_save);
            };
            offerUrl.Add(String.Format("https://www.tripmasters.com/europe/{0}/{1}/package-{2}", Model.placeNA.Replace(" ", "_").ToLower(), z.PDL_Title.Replace(" ", "_").ToLower(), z.PDLID));
        }
        if (Model.otherFeatured.Count > 0)
        {
            foreach (var o in Model.otherFeatured)
            {
                if (o.STP_save != 9999)
                {
                    offerPrices.Add(o.STP_save);
                };
                offerUrl.Add(String.Format("https://www.tripmasters.com/europe/{0}/{1}/package-{2}",Model.placeNA.Replace(" ", "_").ToLower(), o.PDL_Title.Replace(" ", "_").ToLower(), o.PDLID));
            }
        }
        if (offerPrices.Count > 0)
        {
            lowP = offerPrices.Min();
            highP = offerPrices.Max();
        }
        if (reviewC == 0) { reviewC = 1; };
    }
}

@{
    <script type="application/ld+json">
        {
        "@@context" : "http://schema.org",
        "@@type" : "Product",
        "name" : "@Model.placeNA Travel",
        "sku":"@Model.placeID-Travel",
        "mpn":"@Model.placeID-TravelVac",
        "brand" : {
        "@@type" : "Brand",
        "name": "Tripmasters Europe",
        "url": "http://www.tripmasters.com/europe/",
        "logo" : "https://pictures.tripmasters.com/siteassets/d/tm_header_logo.png"
        },
        "image":"https://pictures.tripmasters.com/siteassets/d/tm_header_logo.png",
        "review":{
        "@@type":"Review",
        "name":"@reviewC",
        "author":{
        "@@type":"Organization",
        "name":"Tripmasters"
        }
        },
        "offers": {
        "@@type": "AggregateOffer",
        "priceCurrency":"USD",
        "highPrice": "@highP",
        "lowPrice": "@lowP",
        "offerCount": "4",
        "offers": [
        @{

            foreach (var o in offerUrl)
            {
                <text>
                    {
                    "@@type":"Offer",
                    "url":"  @o  "
                    }@if (o != offerUrl.Last())
                    {<text>,</text>}
                    </text>
                }

        }
        ]
        },
        "description" : "@ViewBag.MetaDescription",
        "additionalProperty" : "Book Customizable Multi-city trips in seconds | 24/7 support during trip | Discounted Air",
        "aggregateRating": {
        "@@type": "aggregateRating",
        "ratingValue": "@overAllAvg",
        "reviewCount": "@reviewC"
        },
        "sameAs":[
        "https://twitter.com/tripmasters",
        "https://www.facebook.com/Tripmasters",
        "https://www.pinterest.com/tripmasters/",
        "https://www.instagram.com/tripmasterstravel/",
        "https://www.linkedin.com/company/tripmasters",
        "https://en.everybodywiki.com/Tripmasters",
        "https://www.youtube.com/tripmasters"

        ]
        }
    </script>
}
@{
    <script>var SiteName = '@_appsettings.Value.ApplicationSettings.SiteName'</script>
    <script>var userid = @Model.UserID</script>
}
@{ String SPDDescription = "";
    Int32 PDLID = 0;
    Int32 PDLDuration = 0;
    String PDLTitle = "";
    Int32 NoOfFeed = 0;
    String PDLContent = "";
    Int64 STPSave = 0;
    string IMG_Path_URL = "";
    foreach (var p in Model.listFeatured)
    {
        PDLID = p.PDLID;
        PDLTitle = p.PDL_Title;
        PDLDuration = p.PDL_Duration;
        NoOfFeed = p.NoOfFeed;
        SPDDescription = p.SPD_Description;
        PDLContent = p.PDL_Content;
        STPSave = p.STP_save;
        IMG_Path_URL = p.IMG_Path_URL;
    }
}
<div id="dvMask"></div>
<div id="dvTransOptResp">
    <div id="dvOptions"></div>
</div>

<div class="resp-container">
    <h1 class="main-title">@Model.placeNA.Replace("_", " ") Travel</h1>

    @if (Model.listCitiesOn.Count > 3)
{
     <section>
        <h3 class="section-title">Popular @Model.placeNA.Replace("_", " ") Travel Destinations</h3>
        @{
            Int32 lgC = 0;
            string imageCityPath = "";
        }
        <ul class="ul-Flex">
            @foreach (var city in Model.listCitiesOn)
            {
                imageCityPath = "https://pictures.tripmasters.com/images/destination_icons/ed/cities/";
                    <li>
                    <div>
                        <figure>
                            <a asp-route="Vacation_Route" asp-route-placeName="@city.STR_PlaceTitle.Replace(' ','_')">
                                <img src=@String.Format("{0}{1}_placephoto.jpg", imageCityPath, @city.STR_PlaceID) onerror="this.src = 'https://pictures.tripmasters.com/siteassets/d/no-image.jpg'"/>
                            </a>
                            <figcaption>
                                <h2><a asp-route="Vacation_Route" asp-route-placeName="@city.STR_PlaceTitle.Replace(' ','_')">@city.STR_PlaceTitle</a></h2>
                            </figcaption>
                        </figure>
                    </div>
                    </li>
                lgC += 1;
            }
        </ul>
    </section>
}

    @* Start FAQ page code *@
    @if (Model.FaqList[0].FaqQuestion != "none")
    {
        <section class="faq-section">
            <div itemscope="" itemtype="https://schema.org/FAQPage">
                <h2>@Model.placeNA.Replace("_", " ") FAQ's </h2>
                @foreach (var qa in Model.FaqList)
                {
                    <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
                        <h4 itemprop="name">@Html.Raw(@qa.FaqQuestion) </h4>
                        <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                            <div itemprop="text">
                                <p>@Html.Raw(@qa.FaqResponse) </p>
                            </div>
                        </div>
                    </div>

                }

            </div>
        </section>
    }
    @* End FAQ page code *@
<section class="review-section">
    <h2 class="blueBackGroundTitle">Customer Reviews</h2>
    <div class="review-section__container">
        <div><span class="Stars" style="--rating: @overAllAvg"></span> <span>@overAllAvg out of 5 stars</span></div>

        @if (Model.packFeedCountC == 0)
        {
            <p class="reviewCount">@String.Format("1") Reviews</p>

        }
        else
        {
            <p class="reviewCount">@Model.packFeedCountC Reviews</p>
        }

        @if (Model.packFeedCountC > 0)
        {
            <ul class="reviewList">

                @{
                    Int32 commC = 0;
                    foreach (var rv in Model.listReviews)
                    {
                        if (commC < 5)
                        {
                                            <li>
                                                <p>@Html.Raw(@Utilities.FormatCustomerComment(rv.PCC_Comment, 150))</p>
                                                <a href=@String.Format("{0}/{1}/{2}/feedback-{3}" ,_appsettings.Value.ApplicationSettings.SiteName, @Model.placeNA.Replace(" ", "_").ToLower(), rv.PDL_Title.Replace(" ","_").ToLower(), rv.PCC_PDLID )>Read more - See this traveler's itinerary</a> <br />
                                                <span>Traveled on: @rv.dep_date.ToShortDateString()</span>
                                            </li>
                            commC += 1;
                        }
                    }
                }
            </ul>
           <a href=@String.Format("{0}/{1}/trips_taken_by_travelers" ,_appsettings.Value.ApplicationSettings.SiteName, @Model.placeNA.Replace(" ", "_").ToLower() )><u>See all Reviews for @Model.placeNA >></u></a>
        }
    </div>
</section>

    <div style="clear:both"></div>
    @if (@Model.bestPackages.Count > 0)
    {
        <section class="more-tours">
            <h2 class="section-title">Best @Model.placeNA Packages</h2>
            <div class="more-tours__list">

                @foreach (var sg in Model.bestPackages)
                {
                    <div class="more-tours__item">
                            <div class="more-tours__img">
                                <a asp-controller="Package" asp-action="Index" asp-route-Country="@Model.placeNA.Replace(" ", "_").ToLower()" asp-route-id="@sg.PDLID" asp-route-name="@sg.PDL_Title.Replace(" ", "_").ToLower()">
                                    <img src=@String.Format("https://pictures.tripmasters.com{0}", sg.IMG_Path_URL.ToLower()) onerror="this.src = 'https://pictures.tripmasters.com/siteassets/d/no-image.jpg'"/>
                                </a>
                            </div>
                            <div>
                                    <a asp-controller="Package" asp-action="Index" asp-route-Country="@Model.placeNA.Replace(" ", "_").ToLower()" asp-route-id="@sg.PDLID" asp-route-name="@sg.PDL_Title.Replace(" ", "_").ToLower()">
                                        @sg.PDL_Title
                                    </a>
                                <p>
                                    @if (sg.STP_save != 9999)
                                    {
                                        @Html.Raw(String.Format("{0} nights from <span>{1:C0}*</span>", sg.PDL_Duration, sg.STP_save));
                                    }
                                    else
                                    {
                                        @Html.Raw(String.Format("{0} nights from <span>&nbsp;</span>", sg.PDL_Duration));
                                    }
                                </p>
                            </div>
                    </div>
                }
            </div>
        </section>
    }




    <div class="downButtons">                 
       <a class="browseAllPacks" href=@String.Format("{0}/{1}/all_vacation_packages" , _appsettings.Value.ApplicationSettings.SiteName, Model.placeNA.Replace(" ","_").ToLower())>Browse all @Model.allItineraries customizable packages<span>></span></a>
       <span class="spanOR">or</span>    
       <a class="browseBuild" href="https://www.tripmasters.com/build_your_own_vacation">Build Your Own Itinerary<span>></span></a>
     </div>
</div>

<input type="hidden" id="placeID" value="@Model.placeID" />

@section Scripts
    {
    <environment include="Development">
        <script src="~/js/travel/dt.java.travel.js" asp-append-version="true"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>

    </environment>
    <environment exclude="Development">
        <script src="~/js/travel/dt.java.travel.min.js" asp-append-version="true"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>

    </environment>
    <script>
        $('#demo').RollingSlider({
            showArea: "#example",
            prev: "#jprev",
            next: "#jnext",
            moveSpeed: 300,
            autoPlay: false
        });
    </script>

}

