@model MVC_TMED.Models.ViewModels.GP2_MultiCountryViewModel
@using MVC_TMED.Infrastructure;
@using Microsoft.Extensions.Options
@inject IOptionsMonitor<AppSettings> _appsettings

@section Styles {
    <environment include="Development">
        <link rel="stylesheet" href="~/css/gpgp2/dt.style.gp2page.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/gpgp2/dt.style.gp2page.min.css" asp-append-version="true" />
    </environment>
}
@{
    string pack3Ids = "";
    Int32 n = 3;
    if (Model.boxFeaturPacks.Count < 3)
    {
        n = Model.boxFeaturPacks.Count;
    }
    for (Int32 i = 0; i <= n - 1; i++)
    {
        switch (i)
        {
            case 0:
                pack3Ids = pack3Ids + Model.boxFeaturPacks[i].PDLID.ToString() + ", ";
                break;
            case 1:
                pack3Ids = pack3Ids + Model.boxFeaturPacks[i].PDLID.ToString() + ", ";
                break;
            case 2:
                pack3Ids = pack3Ids + Model.boxFeaturPacks[i].PDLID.ToString();
                break;
        }
    }
}
@{
    <script type="text/javascript">
        var SiteName = '@_appsettings.CurrentValue.ApplicationSettings.SiteName';
        dataLayer.push({'packagesIDs': '@pack3Ids'});
    </script>
}


<div id="dvMask"></div>
<div id="dvTransOptResp">
    <div id="dvOptions"></div>
</div>

@{
    string dvFea, dvAll, bann1 = "", bann2 = "";
    Int32 foN = 0;
    var showAllPack = 0;
    if (showAllPack == 0)
    {
        dvFea = "block";
        dvAll = "none";
    }
    else
    {
        dvFea = "none";
        dvAll = "block";
    }
}

<div id="CObgshow" style="display: none; position: absolute; top: 0px; left: 0px;
        filter: alpha(opacity=65); -moz-opacity: .65; opacity: .65; background-color: #CCCCCC;
        z-index: 1010;">
</div>

<center>
    <div class="dvBGpageTitle">
        <div class="dvPageTitleWhite">@Model.pageHeaderText</div>
        <div id="dvlinkHeader">
            <img src="https://pictures.tripmasters.com/siteassets/d/nav_barDivis.jpg" width="1" height="36" border="0" align="absmiddle" style="padding-top:5px;" alt="" />
            <a asp-controller="Home" asp-action="Index">
                Home
            </a>
            <img src="https://pictures.tripmasters.com/siteassets/d/nav_barDivis.jpg" width="1" height="36" border="0" align="absmiddle" style="padding-top:5px;" alt="" />
            <a href="" onclick="countryDest(0); return false;">
                Europe
                <img src="https://pictures.tripmasters.com/siteassets/d/nav_Down.gif" border="0" style="margin-left:5px;" alt="" />
            </a>
        </div>
        <div style="clear: both">
        </div>
    </div>
    <div id="navDest" class="bg_navDestinos">
        <div id="destVal"></div>
        <div style="padding-right:10px;" align="right" class="Text_11"><a href="/europe/_Vacations" onclick="javascript:$('#navDest').slideUp(); return false;"> close [-] </a></div>
    </div>
    <div class="Bx_CR" style="margin-top: 10px; width: 980px; display:none;">
        <div class="Bx_BM">
            <div class="Bx_CL">
                <div class="Bx_TM">
                    <div class="Bx_BL">
                        <div class="Bx_BR">
                            <div class="Bx_TL">
                                <div class="Bx_TR">
                                    <div style="padding: 15px 15px 15px 15px" align="left">
                                        <div class="Text_12" style="width:600px; float:left; padding:5px"> </div>
                                        <div class="BG_BrowseTrips" style="padding:20px 15px 5px 10px; width:300px; height:70px; float:right; background: url(https://pictures.tripmasters.com/siteassets/d/browse_icon.jpg) no-repeat center right;">
                                            <div class="Text_Arial14_BlueBold" style="padding:3px 0px">Browse trips others have</div>
                                            <div class="Text_Arial14_BlueBold" style="padding:3px 0px">taken to @Model.multicountryNa:&nbsp; <img src="https://pictures.tripmasters.com/siteassets/d/AreaSubscribebtn.gif" border="0" align="absmiddle" style="cursor:pointer;" onclick=@String.Format("window.location='/{0}/Trips_Taken_By_Travelers'", @Model.multicountryNa) alt="" /></div>
                                        </div>
                                        <div style="clear:both; padding:1px;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end top of page -->
    <div style="width:980px; height:auto; margin-top:10px;">
        <div style="float:left; margin-right:10px; margin-top:5px; width:200px;text-align: left;">
            <!-- start div left col -->
            @await Component.InvokeAsync("GP2UCLeft", new { plcNA = @Model.multicountryNa, plcIDs = @Model.multicountryID, plcID = @Model.multiCountryPLC, leftDisplay = @Model.leftDisplay, boxContent = @Model.boxContent, placesOnWeight = @Model.placesOnWeight, pgtype = "PlcH" })
            <!-- end div left col -->
        </div>

        <!-- center div -->
        <!--- actual display -->
        <div style="float:left; height:auto; width:435px; margin-right:10px;" align="left" id="dvCenter">
            <div id="featuredItin" style=@String.Format("display:{0}", dvFea)>
                <div class="orangeTitle_20" style=" padding-bottom:5px; padding-top:10px;"> FEATURED ITINERARY:</div>
                @if (Model.boxFeaturPacks.Count > 0)
                {
                    <div id="dvfeatPics" style="margin-top:10px; border-top:solid 1px #36F; padding-top:3px; cursor:pointer;" onclick=@String.Format("window:location='/{0}/{1}/package-{2}'",_appsettings.CurrentValue.ApplicationSettings.SiteName, @Model.boxFeaturPacks[0].CountryName.Replace(" ", "_").ToLower(), @Model.boxFeaturPacks[0].PDL_Title.Replace(" ", "_").ToLower(), @Model.boxFeaturPacks[0].PDLID)></div>
                    <div id="featInfo" class="BGfeatuItin" style="margin-top:3px;" align="left">
                        <div align="left" class="packTitle_15" style="padding:10px 5px;">
                            <span class="packTitle_15" style="padding:10px 5px;">
                                <a href=@String.Format("{0}/{1}/{2}/package-{3}",_appsettings.CurrentValue.ApplicationSettings.SiteName,Model.boxFeaturPacks[0].CountryName.Replace(" ","_").ToLower(),@Model.boxFeaturPacks[0].PDL_Title.Replace(" ", "_").ToLower(),@Model.boxFeaturPacks[0].PDLID)>
                                    @Model.boxFeaturPacks[0].PDL_Title
                                </a>
                            </span>
                        </div>
                        @{
                            string lnGuiNo = "none";
                            if (@Model.boxFeaturPacks[0].SPD_InternalComments.Contains("1784:."))
                            { lnGuiNo = "Guided"; }
                            else
                            {
                                if (@Model.boxFeaturPacks[0].SPD_InternalComments.Contains("1785:."))
                                { lnGuiNo = "Partially Guided"; }
                            }
                            if (lnGuiNo != "none")
                            {
                                <div id=@String.Format("{0}|{1}|F", lnGuiNo, @Model.boxFeaturPacks[0].PDLID) class="Text_12_Gray" onmouseover="showPopUp(this.id)" style="cursor:pointer; width:100px; padding:0px 10px;"  onmouseout="hidePopUp(this.id)">
                                    @lnGuiNo
                                </div>
                            }
                        }
                        <div>
                            <div align="left" class="Text_Arial12_Light" style="margin-top:5px; float:left; width:275px; padding:5px 0px 0px 10px;">
                                >
                                @Html.Raw(@Model.boxFeaturPacks[0].SPD_Description)
                            </div>
                            <div class="BGpriceButtom" style="margin-top:5px; float:left; width:147px; height:110px; padding-top:20px;" align="center">
                                @if (@Model.boxFeaturPacks[0].STP_Save_ != 9999)
                                {
                                    <div>
                                        <span class="Text_Arial11_Light">
                                            @Model.boxFeaturPacks[0].PDL_Duration
                                            nights from
                                        </span>
                                        <span class="Orange-Arial12NB">
                                            <b>
                                                @Model.boxFeaturPacks[0].STP_Save_.ToString("C0")
                                            </b>
                                        </span>
                                    </div>
                                }

                            <div style="padding: 3px 0px">
                                <a href=@String.Format("{0}/{1}/{2}/package-{3}",_appsettings.CurrentValue.ApplicationSettings.SiteName,Model.boxFeaturPacks[0].CountryName.Replace(" ","_").ToLower(),@Model.boxFeaturPacks[0].PDL_Title.Replace(" ", "_").ToLower(),@Model.boxFeaturPacks[0].PDLID)>
                                    <img src="https://pictures.tripmasters.com/siteassets/d/BOT-Customize.gif" width="120" height="28" border="0" />
                                </a>
                            </div>
                                @if (@Model.boxFeaturPacks[0].NoOfFeed > 0)
                                {
                            <div class="Text_Arial12_Blue" style="padding: 3px 0px">
                                <a href=@String.Format("{0}/{1}/{2}/feedback-{3}",_appsettings.CurrentValue.ApplicationSettings.SiteName,@Model.boxFeaturPacks[0].CountryName.Replace(" ", "_").ToLower(), @Model.boxFeaturPacks[0].PDL_Title.Replace(" ", "_").ToLower(), @Model.boxFeaturPacks[0].PDLID)>
                                    Customer feedback (@Model.boxFeaturPacks[foN].NoOfFeed)
                                </a>
                            </div>
                                }
                            </div>
                            <div style="clear: both">
                            </div>
                        </div>
                        <div id=@String.Format("dvWait{0}", @Model.boxFeaturPacks[0].PDLID) style="display: none; padding: 20px;" align="center">
                        </div>
                        <div id=@String.Format("pkInf{0}", @Model.boxFeaturPacks[0].PDLID) style="padding: 5px 10px 10px 10px; display: none;"
                             align="left" class="Text_Arial12">
                            <b>Included:</b>
                            <div style="padding-left: 15px;">
                                @{
                                    string[] contFParts = @Model.boxFeaturPacks[0].PDL_Content.Split("\r\n");
                                    foreach (var fpr in contFParts)
                                    {
                                        @Html.Raw("<li>" + fpr + "</li>")
                                    }
                                }
                            </div>
                            <div style="clear: both">
                            </div>
                            <hr class="hrDotedLine" />
                            <form name=@String.Format("frm{0}", @Model.boxFeaturPacks[0].PDLID) id=@String.Format("frm{0}", @Model.boxFeaturPacks[0].PDLID) method="post">
                                <div class="Text_Arial11" id=@String.Format("dvComF{0}", @Model.boxFeaturPacks[0].PDLID) style="display: block; padding: 5px 5px;">
                                    <center>
                                        <img src="https://pictures.tripmasters.com/siteassets/d/ajax-indicator.gif" width="16" height="16" />
                                    </center>
                                </div>
                                <div class="Text_Arial12_LightBold" style="padding: 5px 3px 15px 3px;" align="center">
                                    <a style="cursor: pointer;" onclick=@String.Format("findPackst4('frm{0}'); return false", @Model.boxFeaturPacks[0].PDLID)>
                                        &gt;&gt;
                                        Find similar package
                                    </a>
                                </div>
                                <input type="hidden" name="allIDsdp" id="allIDsdp" value="" />
                                <input type="hidden" name="allID" id="allID" value="" />
                                <input type="hidden" name="allNA" id="allNA" value="" />
                            </form>
                            <hr class="DotedLine" />
                        </div>
                        <div align="left" class="dvMoreDetail">
                            <span style="cursor: pointer" onclick=@String.Format("openDivInfFNw({0},0)", @Model.boxFeaturPacks[0].PDLID)>
                                <img src="https://pictures.tripmasters.com/siteassets/d/Plus.jpg" name=@String.Format("pic{0}", @Model.boxFeaturPacks[0].PDLID) width="9" height="9"
                                     align="absmiddle" id=@String.Format("pic{0}", @Model.boxFeaturPacks[0].PDLID) />&nbsp;&nbsp;
                                <u id=@String.Format("moreTx{0}", @Model.boxFeaturPacks[0].PDLID)>
                                    More
                                    details
                                </u>
                            </span>
                        </div>
                    </div>
                    <div align="center">
                        <img src="https://pictures.tripmasters.com/siteassets/d/Line_Blue299.gif" width="400" height="1" />
                    </div>
                    <div class="Text_Arial16_OrangeBold" align="left" style="padding: 10px 5px 10px 5px;">
                        OTHER FEATURED ITINERARIES:
                    </div>

                    <div id="Div1">
                        @{
                            string otherLns;
                            string[] otherLn;
                            string dvStyle = "";
                            Int32 lastPack = Model.boxFeaturPacks.Count - 1;
                            @if (lastPack > 3)
                            { lastPack = 3; }
                            Int32 othC = 1;

                            for (Int32 fo = 1; fo <= lastPack; fo++)
                            {
                                if (fo > foN)
                                {
                                    dvStyle = "<div class='BGother'>&nbsp;</div>";
                                }

                                <div class="BGotherFeatu" align="left">
                                    @Html.Raw(dvStyle)
                                    <div style="height: 200px">
                                        <div style="padding-left: 12px;">
                                            <a asp-controller="Package" asp-action="Index" asp-route-id="@Model.boxFeaturPacks[fo].PDLID" asp-route-Country=@String.Format("{0}", @Model.boxFeaturPacks[fo].CountryName.Replace(" ", "_")) asp-route-name="@Model.boxFeaturPacks[fo].PDL_Title">
                                                <img src=@String.Format("https://pictures.tripmasters.com{0}", @Model.boxFeaturPacks[fo].IMG_Path_URL.ToLower()) width="120" height="120" border="0" />
                                            </a>
                                        </div>
                                        <div align="left" class="Text_Arial12_LightBold" style="padding: 0px 10px;">
                                            <a asp-controller="Package" asp-action="Index" asp-route-id="@Model.boxFeaturPacks[fo].PDLID" asp-route-Country=@String.Format("{0}", @Model.boxFeaturPacks[fo].CountryName.Replace(" ", "_")) asp-route-name="@Model.boxFeaturPacks[fo].PDL_Title">
                                                @Model.boxFeaturPacks[fo].PDL_Title
                                            </a>
                                        </div>
                                        @{
                                            lnGuiNo = "none";
                                            if (@Model.boxFeaturPacks[fo].SPD_InternalComments.Contains("1784:."))
                                            {
                                                lnGuiNo = "Guided";
                                            }
                                            else
                                            {
                                                if (@Model.boxFeaturPacks[fo].SPD_InternalComments.Contains("1785:."))
                                                {
                                                    lnGuiNo = "Partially Guided";
                                                }
                                            }
                                            if (lnGuiNo != "none")
                                            {
                                                <div align="left" id=@String.Format("{0}|{1}|F", lnGuiNo, @Model.boxFeaturPacks[fo].PDLID) class="Text_12_Gray" style="cursor: pointer;
                                        width: 100px; padding: 0px 10px;" onmouseover="showPopUp(this.id)" onmouseout="hidePopUp(this.id)">
                                                    @lnGuiNo
                                                </div>
                                            }
                                            if (@Model.boxFeaturPacks[fo].STP_Save_ != 9999)
                                            {
                                                <div align="left" style="padding: 3px 10px;">
                                                    <span class="Text_Arial11_Light">
                                                        @Model.boxFeaturPacks[fo].PDL_Duration
                                                        nights from
                                                    </span>
                                                    <span class="Orange-Arial12NB">
                                                        <b>
                                                            @Model.boxFeaturPacks[fo].STP_Save_.ToString("C0")*
                                                        </b>
                                                    </span>
                                                </div>
                                            }
                                            if (@Model.boxFeaturPacks[fo].NoOfFeed > 0)
                                            {
                                                <div class="Text_Arial11_Blue" align="left" style="padding: 3px 5px 3px 10px;">
                                                    <a href=@String.Format("{0}/{1}/{2}/feedback-{3}",_appsettings.CurrentValue.ApplicationSettings.SiteName, @Model.boxFeaturPacks[fo].CountryName.Replace(" ", "_").ToLower(), @Model.boxFeaturPacks[fo].PDL_Title.Replace(" ", "_").ToLower(), @Model.boxFeaturPacks[fo].PDLID)>
                                                        Customer feedback (@Model.boxFeaturPacks[fo].NoOfFeed)
                                                    </a>
                                                </div>
                                            }
                                        }
                                    </div>
                                    <div id=@String.Format("dvMrTxt{0}", @Model.boxFeaturPacks[fo].PDLID) align="left" class="dvMoreDetail">
                                        <span style="cursor: pointer" onclick=@String.Format("openDivInfF({0},1)", @Model.boxFeaturPacks[fo].PDLID)>
                                            <img src="https://pictures.tripmasters.com/siteassets/d/Plus.jpg" name=@String.Format("pic{0}", @Model.boxFeaturPacks[fo].PDLID) width="9" height="9" align="absmiddle" id=@String.Format("pic{0}", @Model.boxFeaturPacks[fo].PDLID) />&nbsp;&nbsp;<u id=@String.Format("moreTx{0}", @Model.boxFeaturPacks[fo].PDLID)>
                                                More
                                                details
                                            </u>
                                        </span>
                                    </div>
                                    <div id=@String.Format("dvMrPic{0}", @Model.boxFeaturPacks[fo].PDLID) class="BGDown" style="display: none;">
                                        &nbsp;
                                    </div>
                                </div>

                                othC = othC + 1;
                                if (othC == 4)
                                {
                                    fo = lastPack;
                                }
                            }
                        }
                        <div class="dvClear">
                        </div>
                    </div>

                    <div id="otherMr" style="display: none">
                        @{
                            othC = 1;
                            for (Int32 fo = 1; fo <= lastPack; fo++)
                            {
                                <div id=@String.Format("pkInf{0}", @Model.boxFeaturPacks[fo].PDLID) style="padding: 10px 0px 5px 0px; display: none;" align="left">
                                    <div align="left" class="Text_Arial11" style="float: left; width: 275px; padding: 5px 0px 0px 5px;">
                                        @Html.Raw(@Model.boxFeaturPacks[fo].SPD_Description);
                                        <div style="padding: 5px 10px 10px 10px;" align="left">
                                            <div>
                                                <b>Included:</b>
                                            </div>
                                            <div style="padding-left: 15px;">
                                                @{
                                                    contFParts = @Model.boxFeaturPacks[fo].PDL_Content.Split("\r\n");
                                                    foreach (var fpr in contFParts)
                                                    {
                                                        @Html.Raw("<li>" + fpr + "</li>");
                                                    }
                                                }
                                            </div>
                                            <div style="clear: both">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="BGpriceButtom" style="float: left; width: 147px; height: 110px; padding-top: 20px;" align="center">
                                        @if (@Model.boxFeaturPacks[fo].STP_Save_ != 9999)
                                        {
                                            <div style="padding: 3px 0px;">
                                                <span class="Text_Arial11_Light">
                                                    @Model.boxFeaturPacks[fo].PDL_Duration
                                                    nights from
                                                </span> <span class="Orange-Arial12NB">
                                                    <b>
                                                        @Model.boxFeaturPacks[fo].STP_Save_.ToString("C0")*
                                                    </b>
                                                </span>
                                            </div>
                                        }
                                    <div style="padding: 3px 0px;">
                                        <a href=@String.Format("{0}/{1}/{2}/package-{3}",_appsettings.CurrentValue.ApplicationSettings.SiteName,Model.boxFeaturPacks[fo].CountryName.Replace(" ","_").ToLower(),@Model.boxFeaturPacks[fo].PDL_Title.Replace(" ", "_").ToLower(),@Model.boxFeaturPacks[fo].PDLID)>
                                            <img src="https://pictures.tripmasters.com/siteassets/d/BOT-Customize.gif" width="120" height="28" border="0" />
                                        </a>
                                    </div>
                                        @if (@Model.boxFeaturPacks[fo].NoOfFeed > 0)
                                        {
                                            <div class="Text_Arial12_Blue" style="padding: 3px 0px;">
                                                <a href=@String.Format("{0}/{1}/{2}/feedback-{3}",_appsettings.CurrentValue.ApplicationSettings.SiteName,Model.boxFeaturPacks[fo].CountryName.Replace(" ", "_").ToLower(), @Model.boxFeaturPacks[fo].PDL_Title.Replace(" ", "_").ToLower(), @Model.boxFeaturPacks[fo].PDLID)>
                                                    Customer feedback (@Model.boxFeaturPacks[fo].NoOfFeed)
                                                </a>
                                            </div>
                                        }
                                    </div>
                                    <div style="clear: both">
                                    </div>
                                    <div id=@String.Format("dvajx{0}", @Model.boxFeaturPacks[fo].PDLID) style="display: none;">
                                        <hr class="DotedLine" />
                                        <div class="Text_Arial11" id=@String.Format("dvRelF{0}", @Model.boxFeaturPacks[fo].PDLID) style="display: block; padding: 5px 2px 10px 10px;">
                                            <center>
                                                <img src="https://pictures.tripmasters.com/siteassets/d/ajax-indicator.gif" width="16" height="16" />
                                            </center>
                                        </div>
                                        <hr class="DotedLine" />
                                        <form name=@String.Format("frm{0}", @Model.boxFeaturPacks[fo].PDLID) id=@String.Format("frm{0}", @Model.boxFeaturPacks[fo].PDLID) method="post">
                                            <div class="Text_Arial11" id=@String.Format("dvComF{0}", @Model.boxFeaturPacks[fo].PDLID) style="display: block; padding: 5px 5px;">
                                                <center>
                                                    <img src="https://pictures.tripmasters.com/siteassets/d/ajax-indicator.gif" width="16" height="16" />
                                                </center>
                                            </div>
                                            <div class="Text_Arial12_LightBold" style="padding: 5px 3px 15px 3px;" align="center">
                                                <a style="cursor: pointer;" onclick=@String.Format("findPackst4('frm{0}'); return false", @Model.boxFeaturPacks[fo].PDLID)>
                                                    &gt;&gt; Find similar package
                                                </a>
                                            </div>
                                            <input type="hidden" name="allIDsdp" id="allIDsdp" value="" />
                                            <input type="hidden" name="allID" id="allID" value="" />
                                            <input type="hidden" name="allNA" id="allNA" value="" />
                                        </form>
                                        <hr class="DotedLine" />
                                    </div>
                                    <div align="left" class="dvMoreDetail">
                                        <span style="cursor: pointer" onclick=@String.Format("openDivInfF({0},2)", @Model.boxFeaturPacks[fo].PDLID)>
                                            <img src="https://pictures.tripmasters.com/siteassets/d/minus.jpg" width="9" height="9" align="absmiddle" />&nbsp;&nbsp;<u>
                                                Close
                                                more details
                                            </u>
                                        </span>
                                    </div>
                                </div>
                                othC = othC + 1;
                                if (othC == 4)
                                {
                                    foN = fo + 1;
                                    fo = lastPack;
                                }
                            }
                        }
                    </div>

                    @if (Model.boxFeaturPacks.Count - 1 > 3)
                    {
                        <div align="center" style="margin:10px 0px 10px 0px ;"><img src="https://pictures.tripmasters.com/siteassets/d/Line_Blue299.gif" width="400" height="1" alt="" /></div>
                        <div class="Text_Arial16_OrangeBold" align="left" style="margin-top:10px; padding:10px 5px 2px 5px;"> SUGGESTED ITINERARIES:</div>
                        othC = 1;
                        Int32 bnn = 0;
                        string margT;
                        string bg = "";
                        Boolean two_CityAdded = false;
                        Boolean three_CityAdded = false;
                        Boolean depth_CityAdded = false;
                        @if (@Model.boxFeaturPacks.Count - 1 >= 8)
                        {
                            bnn = 8;
                        }
                        else
                        {
                            bnn = @Model.boxFeaturPacks.Count - 1;
                        }
                        @for (Int32 fo = 4; fo <= @Model.boxFeaturPacks.Count - 1; fo++)
                        {
                            if (fo == 4)
                            {
                                margT = "10px";
                            }
                            else
                            {
                                margT = "5px";
                            }
                            if (fo % 2 == 0)
                            { bg = "#EAF2FF"; }
                            if (fo % 2 == 1)
                            { bg = "white"; }
                            @if (@Model.boxFeaturPacks[fo].SPPW_Weight >= 200 && @Model.boxFeaturPacks[fo].SPPW_Weight <= 299)
                            {
                                if (!two_CityAdded)
                                {
                                    if (Model.boxContent.Where(x => x.STX_ProdKindID == 1624).ToList().Count > 0)
                                    {
                                        if (Model.boxContent.Where(x => x.STX_ProdKindID == 1624).ToList()[0].STX_URL != "none")
                                        {
                                            <div style="PADDING:15px 0px 15px 0px; display:block;" align="center">
                                                <a href=@String.Format("{0}/{1}",_appsettings.CurrentValue.ApplicationSettings.SiteName, Model.boxContent.Where(x => x.STX_ProdKindID == 1624).ToList()[0].STX_URL)>
                                                    <img src=@String.Format("{0}", Model.boxContent.Where(x => x.STX_ProdKindID == 1624).ToList()[0].STX_PictureURL.ToLower().Replace("http:", "https:")) border="0" style="padding: 2px 0px 2px 0px" title="Model.boxContent.Where(x => x.STX_ProdKindID == 1624).ToList()[0].STX_Title" alt="" />
                                                </a>
                                            </div>
                                        }
                                    }
                                    <div style="padding: 20px 5px 5px 20px;" class="Text_Arial18_Orange">Two City Itineraries:</div>
                                }
                                two_CityAdded = true;
                            }
                            @if (@Model.boxFeaturPacks[fo].SPPW_Weight >= 300 && @Model.boxFeaturPacks[fo].SPPW_Weight <= 399)
                            {
                                if (!three_CityAdded)
                                {
                                    <div style="padding: 20px 5px 5px 20px;" class="Text_Arial18_Orange">Three City Itineraries:</div>
                                }
                                three_CityAdded = true;
                            }
                            @if (@Model.boxFeaturPacks[fo].SPPW_Weight >= 400 && @Model.boxFeaturPacks[fo].SPPW_Weight <= 9999)
                            {
                                if (!depth_CityAdded)
                                {
                                    <div style="padding: 20px 5px 5px 20px;" class="Text_Arial18_Orange">In Depth City Itineraries:</div>
                                }
                                depth_CityAdded = true;
                            }
                            <div style=@String.Format("padding:5px;background-color:{0};", bg) align="left" class="dveachSuggest">
                                <div style="padding: 3px 5px 2px 0px; float: left;" align="center">
                                    <img src="https://pictures.tripmasters.com/siteassets/d/Plus.jpg" name=@String.Format("picF{0}", @Model.boxFeaturPacks[fo].PDLID) width="9" height="9"
                                         align="absmiddle" id=@String.Format("picF{0}", @Model.boxFeaturPacks[fo].PDLID) style="cursor: pointer" onclick=@String.Format("openDivInfo({0},'F','{1}','{2}')", @Model.boxFeaturPacks[fo].PDLID, Model.multicountryNa.Replace(" ", "_"), @Model.boxFeaturPacks[fo].PDL_Title.Replace(" ", "_")) />
                                </div>
                                <div class="Text_Arial12_Blue" style="width: 272px; padding: 2px 0px 2px 0px; float: left;">
                                    <span style="cursor: pointer" onclick=@String.Format("openDivInfo({0},'F','{1}','{2}')", @Model.boxFeaturPacks[fo].PDLID, @Model.multicountryNa.Replace(" ", "_"), @Model.boxFeaturPacks[fo].PDL_Title.Replace(" ", "_"))>
                                        @Model.boxFeaturPacks[fo].PDL_Title
                                    </span>
                                </div>
                                @if (@Model.boxFeaturPacks[fo].STP_Save_ != 9999)
                                {
                                    <div class="Text_10_GrayBold" style="padding: 2px 0px 2px 0px; float: right; width: 125px;"
                                         align="right">
                                        <span style="cursor: pointer" onclick=@String.Format("openDivInfo({0},'F','{1}','{2}')", @Model.boxFeaturPacks[fo].PDLID, @Model.multicountryNa.Replace(" ", "_"), @Model.boxFeaturPacks[fo].PDL_Title.Replace(" ", "_"))>
                                            @Model.boxFeaturPacks[fo].PDL_Duration
                                            nights from
                                            <b class="Orange-Arial12NB">
                                                @Model.boxFeaturPacks[fo].STP_Save_.ToString("C0")*
                                            </b>
                                        </span>
                                    </div>
                                }
                                else
                                {
                                    <div class="Text_10_GrayBold" style="padding: 2px 0px 2px 0px; float: right; width: 125px;"
                                         align="right">
                                        <span id=@String.Format("mrDtls{0}", @Model.boxFeaturPacks[fo].PDLID) style="cursor: pointer" onclick=@String.Format("openDivInfo({0},'F','{1}','{2}')", @Model.boxFeaturPacks[fo].PDLID, @Model.multicountryNa.Replace(" ", "_"), @Model.boxFeaturPacks[fo].PDL_Title.Replace(" ", "_"))>
                                            More details
                                        </span>
                                    </div>
                                }
                                <div style="clear: both">
                                </div>
                                @{
                                    lnGuiNo = "none";
                                    @if (@Model.boxFeaturPacks[fo].SPD_InternalComments.Contains("1784:."))
                                    {
                                        lnGuiNo = "Guided";
                                    }
                                    else
                                    {
                                        if (@Model.boxFeaturPacks[fo].SPD_InternalComments.Contains("1785:."))
                                        {
                                            lnGuiNo = "Partially Guided";
                                        }
                                    }
                                    if (lnGuiNo != "none")
                                    {
                                        <div align="left" id=@String.Format("{0}|{1}|F", lnGuiNo, @Model.boxFeaturPacks[fo].PDLID) class="Text_12_Gray" style="cursor: pointer;
                                    width: 100px; padding: 0px 15px;" onmouseover="showPopUp(this.id)" onmouseout="hidePopUp(this.id)">
                                            @lnGuiNo
                                        </div>
                                    }
                                }
                            </div>
                            <div id=@String.Format("dvWaitF{0}", @Model.boxFeaturPacks[fo].PDLID) style="padding: 30px; display: none" align="center">
                            </div>
                            <div id=@String.Format("dvInfF{0}", @Model.boxFeaturPacks[fo].PDLID) class="Text_Arial12" style="padding: 5px 5px 5px 20px; display: none" align="left">
                                <div id=@String.Format("dvTxtF{0}", @Model.boxFeaturPacks[fo].PDLID) class="text_12" style="padding: 3px 0px;">
                                    @Html.Raw(@Model.boxFeaturPacks[fo].SPD_Description)
                                </div>
                                <div style="padding: 5px 0px;">
                                    <b>Included:</b>
                                </div>
                                <div style="padding-left: 15px;">
                                    @{
                                        contFParts = @Model.boxFeaturPacks[fo].PDL_Content.Split("\r\n");
                                        foreach (var fpr in contFParts)
                                        {
                                            @Html.Raw("<li>" + fpr + "</li>");
                                        }
                                    }
                                </div>
                                @if (@Model.boxFeaturPacks[fo].NoOfFeed > 0)
                                {
                                    <div class="Text_Arial11" id=@String.Format("dvFeedF{0}", @Model.boxFeaturPacks[fo].PDLID) style="display: block; padding: 5px 5px;">

                                        <a href=@String.Format("{0}/{1}/{2}/feedback-{3}",_appsettings.CurrentValue.ApplicationSettings.SiteName, Model.boxFeaturPacks[fo].CountryName.Replace(" ", "_").ToLower(), @Model.boxFeaturPacks[fo].PDL_Title.Replace(" ", "_").ToLower(), @Model.boxFeaturPacks[fo].PDLID)>
                                            Customer feedback (@Model.boxFeaturPacks[fo].NoOfFeed)
                                            <img src="https://pictures.tripmasters.com/siteassets/d/CustFeed_Mini.jpg" width="21" height="16" border="0" />
                                        </a>
                                    </div>
                                }
                                <div id=@String.Format("butt{0}", @Model.boxFeaturPacks[fo].PDLID) style="padding: 15px 35px 5px 35px;" align="right">
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                    <a href=@String.Format("{0}/{1}/{2}/package-{3}",_appsettings.CurrentValue.ApplicationSettings.SiteName,Model.boxFeaturPacks[fo].CountryName.Replace(" ","_").ToLower(),@Model.boxFeaturPacks[fo].PDL_Title.Replace(" ", "_").ToLower(),@Model.boxFeaturPacks[fo].PDLID) >
                                        <img src="https://pictures.tripmasters.com/siteassets/d/BOT-Customize.gif" border="0" />
                                    </a>
                                </div>
                                <hr class="DotedLine" />
                                <div class="Text_Arial11" id=@String.Format("dvRelF{0}", @Model.boxFeaturPacks[fo].PDLID) style="display: none; padding: 5px 5px;">
                                </div>
                                <hr class="DotedLine" />

                                <form name=@String.Format("frm{0}", @Model.boxFeaturPacks[fo].PDLID) id=@String.Format("frm{0}", @Model.boxFeaturPacks[fo].PDLID) method="post">
                                    <div class="Text_Arial11" id=@String.Format("dvComF{0}", @Model.boxFeaturPacks[fo].PDLID) style="display: none; padding: 5px 5px;">
                                    </div>
                                    <div class="Text_Arial12_LightBold" style="padding: 5px 3px 15px 3px;" align="center">
                                        <a style="cursor: pointer;" onclick=@String.Format("findPackst4('frm{0}'); return false", @Model.boxFeaturPacks[fo].PDLID)>
                                            &gt;&gt; Find similar package
                                        </a>
                                    </div>
                                    <input type="hidden" name="allIDsdp" id="allIDsdp" value="" />
                                    <input type="hidden" name="allID" id="allID" value="" />
                                    <input type="hidden" name="allNA" id="allNA" value="" />
                                </form>
                                <div align="center">
                                    <img src="https://pictures.tripmasters.com/siteassets/d/Line_Blue299.gif" width="400" height="1" />
                                </div>
                            </div>

                            @if (othC == bnn)
                            {
                                if (@Model.bannerOnPage.Count > 0)
                                {
                                    foreach (var b in @Model.bannerOnPage)
                                    {
                                        if (b.STX_URL != "none")
                                        {
                                            string bannerURL = @b.STX_URL;
                                            if (@b.STX_URL.StartsWith("/"))
                                            {
                                                bannerURL = @b.STX_URL.Substring(1, @b.STX_URL.Length - 1);
                                            }
                                            <div style="padding: 15px 0px 15px 0px; display: block;" align="center">
                                                <a href="@bannerURL">
                                                    <img src=@String.Format("{0}", @b.STX_PictureURL.ToLower()) border="0" style="padding: 2px 0px 2px 0px" title="@b.STX_Title" />
                                                </a>
                                            </div>
                                        }
                                    }
                                }
                            }
                            {
                                othC = othC + 1;
                            }
                        }
                        @if (Model.boxContent.Where(x => x.STX_ProdKindID == 1624).ToList().Count > 1)
                        {
                            @for (Int32 i = 1; i <= Model.boxContent.Where(x => x.STX_ProdKindID == 1624).ToList().Count - 1; i++)
                            {
                                if (Model.boxContent.Where(x => x.STX_ProdKindID == 1624).ToList()[i].STX_URL != "none")
                                {
                                    if (Model.boxContent.Where(x => x.STX_ProdKindID == 1624).ToList()[i].STX_URL.StartsWith("/"))
                                    {
                                        Model.boxContent.Where(x => x.STX_ProdKindID == 1624).ToList()[i].STX_URL = Model.boxContent.Where(x => x.STX_ProdKindID == 1624).ToList()[i].STX_URL.Substring(1, Model.boxContent.Where(x => x.STX_ProdKindID == 1624).ToList()[i].STX_URL.Length - 1);
                                    }
                                    <div style="PADDING:15px 0px 15px 0px; display:block;" align="center">
                                        <a href="/@Model.boxContent.Where(x => x.STX_ProdKindID == 1624).ToList()[i].STX_URL">
                                            <img src=@String.Format("{0}", @Model.boxContent.Where(x => x.STX_ProdKindID == 1624).ToList()[i].STX_PictureURL.Replace("http","https")) border="0" style="padding: 2px 0px 2px 0px" title="Model.boxContent.Where(x => x.STX_ProdKindID == 1624).ToList()[i].STX_URL" alt="" />
                                        </a>
                                    </div>
                                }
                            }
                        }
                    }
                }
            </div>
        </div>

        <!-- right div -->
        <div style="float:left; width:325px; height:auto; margin-top:5px;">
            <div style="padding-bottom: 5px;">
                @await Component.InvokeAsync("UC_TM_SmallCalendar")
            </div>
            <div id="divQE_AJAXListContainer" style="display: none" class="QE_AJAXListContainer_div">
                Loading...Please wait
            </div>
            <div id="divPopUpContainer" style="display: none" class="QE_PopupContainer_div">
            </div>
            <div id="divCount" style="display: none">
            </div>
            @if (Model.placesOnWeight.FindAll(p => p.STR_PlaceTypeID == 1 || p.STR_PlaceTypeID == 25).Count > 0)
            {
                <div class="dvRoundBoxesComb">
                    <div class="bxTitleWhite30" align="left">
                        Find Suggested Itineraries
                    </div>
                    <div class="dvwitheRound">
                        <form name="frmFindPack" id="frmFindPack" method="post" style="margin:0px">
                            @foreach (var c in Model.placesOnWeight.FindAll(p => p.STR_PlaceTypeID == 5))
                            {
                                <div class="Text_Arial12_Blue" style="padding:10px 5px 5px 15px;"><b>Cities in @c.STR_PlaceTitle:</b></div>
                                <table width="99%" border="0" align="center" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td width="50%" valign="top">
                                            @{
                                                decimal halfTotal = ((decimal)Model.placesOnWeight.FindAll(p => (p.STR_PlaceTypeID == 1 || p.STR_PlaceTypeID == 25) && p.CountryID == c.STR_PlaceID).Count) / ((decimal)2);
                                                Int32 ifDec;
                                                Int64 roundUp;
                                                ifDec = halfTotal.ToString().IndexOf(".");
                                                if (ifDec > 0)
                                                {
                                                    roundUp = long.Parse(halfTotal.ToString().Substring(0, ifDec)) + 1;
                                                }
                                                else
                                                {
                                                    roundUp = (Int64)halfTotal;
                                                }
                                                Int32 ctyC = 0;
                                                foreach (var cty in Model.placesOnWeight.FindAll(p => (p.STR_PlaceTypeID == 1 || p.STR_PlaceTypeID == 25) && p.CountryID == c.STR_PlaceID))
                                                {
                                                    if (ctyC == roundUp)
                                                    {
                                                        @Html.Raw("</td><td valign=\"top\">")
                                                    }
                                                    <div style="padding:2px 2px 2px 2px; margin:4px 0px 4px 0px">
                                                        <a href=@String.Format("#dot{0}", @cty.STR_PlaceID) class="falsecheck" id=@String.Format("falsedot{0}", @cty.STR_PlaceID)>@cty.STR_PlaceTitle</a>
                                                        <input type="checkbox" value=@String.Format("{0}|{1}",cty.STR_PlaceID.ToString().Trim(),cty.STR_PlaceTitle.Replace(" ","_")) name=@String.Format("dot{0}", @cty.STR_PlaceID) id=@String.Format("dot{0}", @cty.STR_PlaceID) style="display:none" />
                                                    </div>

                                                    ctyC += 1;
                                                }
                                            }
                                        </td>
                                    </tr>
                                </table>
                            }
                            <input type="hidden" name="allID" id="allID" value="" />
                            <input type="hidden" name="allNA" id="allNA" value="" />
                        </form>
                        <div align="center" style="padding: 10px 5px;">
                            <img src="https://pictures.tripmasters.com/siteassets/d/Botton_FindPacks.jpg" width="181" height="25" border="0"
                                 align="absmiddle" onclick="findPacks('frmFindPack')" />
                        </div>
                    </div>
                </div>
            }

            @if (Model.CountriesFeeds.Count > 1)
            {
                <div class="dvRoundBoxes">
                    <div class="dvBGboxTitle">
                        <span>Feedback from our travelers</span>
                    </div>
                    <div style="padding: 0px 0px 10px 0px; width: auto;" align="left">
                        @{
                            string col = "";
                            Int32 tresShow = @Model.CountriesFeeds.Count;
                            if (tresShow > 3)
                            {
                                tresShow = 3;
                            }
                            Int32 colnum = -1;
                            foreach (var cf in @Model.CountriesFeeds)
                            {
                                if (colnum % 2 == 0)
                                {
                                    col = "#EAF2FF";
                                }
                                else
                                {
                                    col = "white";
                                }
                                <div style=@String.Format("padding:10px;background-color:{0};", col) class="dvFeedLink">
                                    <div style="word-wrap: break-word;">@Html.Raw(@Utilities.FormatCustomerComment(@cf.PCC_Comment, 80))</div>
                                    <div style="padding: 5px 5px 1px 0px;">
                                        <a href=@String.Format("{0}/{1}/{2}/feedback-{3}",_appsettings.CurrentValue.ApplicationSettings.SiteName, @cf.CountryName.Replace(" ", "_").ToLower(), @cf.PDL_Title.Replace(" ", "_").ToLower(), @cf.PCC_PDLID)>
                                            Read more - See this traveler's itinerary
                                        </a>
                                    </div>
                                    <div style="padding: 1px 5px 5px 0px;">
                                        Traveled on: @cf.dep_date.ToString("MMMM d", System.Globalization.CultureInfo.CreateSpecificCulture("en-US"))
                                    </div>
                                </div>

                                colnum += 1;
                                if (colnum == tresShow - 1)
                                {
                                    break;
                                }
                            }
                        }
                    </div>
                    <div align="center">
                        <img src="https://pictures.tripmasters.com/siteassets/d/blue-ul-grad.jpg" />
                    </div>
                    @foreach (var c in @Model.placesOnWeight.FindAll(p => p.STR_PlaceTypeID == 5))
                    {
                <div align="left" style="padding:0px 15px 10px 15px;" class="Text_12">
                    <a href=@String.Format("{0}/{1}/trips_taken_by_travelers",_appsettings.CurrentValue.ApplicationSettings.SiteName, @c.STR_PlaceTitle.Replace(" ", "_").ToLower())>Browse feedback - @c.STR_PlaceTitle</a>
                </div>
                    }
                </div>
            }



            <div class="dvRoundBoxes">
                <div style="padding: 3px 10px 3px 10px;">
                    <div class="BG_need">
                        <div class="Blue-Arial14" align="right" style="padding: 10px 20px 5px 3px;">
                            Need booking assistance?
                        </div>
                        <div align="right" class="Text_12" style="padding: 5px 15px 5px 3px;line-height:17px;">
                            <b>We're glad to help:</b><br />
                            Call Us <b>7</b>  days a week<br />
                            from 8AM to Midnight ET<br />
                            <span class="Text_Arial16_navy"><b>1-800-430-0484</b></span>
                        </div>
                        <div align="right" class="Text_12" style="padding: 5px 15px 5px 3px;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="clear:both"></div>
    </div>
</center>

<input name="featItin" type="hidden" id="featItin" value="@Model.boxFeaturPacks[0].PDLID" />
<input name="otherFeat" type="hidden" id="otherFeat" value="@Model.otherFeat" />
<input type="hidden" name="allID" id="allID" value="" />
<input type="hidden" name="allNA" id="allNA" value="" />

@section Scripts
    {
    <environment include="Development">
        <script src="~/js/gpgp2/dt.java.gp2page.js" asp-append-version="true"></script>
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAd8S1lOSNhEy2FUzkGT34S1KCvadNLkz8"></script>
        <script src="~/js/smallcalendar/dt.java.TM.Calendar.js" asp-append-version="true"></script>
        <script src="~/js/smallcalendar/dt.java.TM.CommonFunctions.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/gpgp2/dt.java.gp2page.min.js" asp-append-version="true"></script>
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAd8S1lOSNhEy2FUzkGT34S1KCvadNLkz8"></script>
        <script src="~/js/smallcalendar/smallcalendar.min.js" asp-append-version="true"></script>
    </environment>
     }
