@model MVC_TMED.Models.ViewModels.GP3_MultiCountryViewModel
@using MVC_TMED.Infrastructure;
@using Microsoft.Extensions.Options
@inject IOptions<AppSettings> _appsettings;

<environment include="Development">
    <link rel="stylesheet" href="~/css/gp3/dt.style.tmedGP3_City.css" asp-append-version="true" />
</environment>
<environment exclude="Development">
    <link rel="stylesheet" href="~/css/gp3/dt.style.tmedGP3_City.min.css" asp-append-version="true" />
</environment>
@{
    <script>var SiteName = '@_appsettings.Value.ApplicationSettings.SiteName' </script>
}

@{
    string pack3Ids = "";
    Int32 n = 3;
    if (Model.boxFeaturPacks.Count < 3)
    {
        n = Model.boxFeaturPacks.Count;
    }
    for (Int32 i = 0; i <= n - 1; i++)
    {
        switch (i)
        {
            case 0:
                pack3Ids = pack3Ids + Model.boxFeaturPacks[i].PDLID.ToString() + ", ";
                break;
            case 1:
                pack3Ids = pack3Ids + Model.boxFeaturPacks[i].PDLID.ToString() + ", ";
                break;
            case 2:
                pack3Ids = pack3Ids + Model.boxFeaturPacks[i].PDLID.ToString();
                break;
        }
    }
}
@{
    <script type="text/javascript">
        var SiteName = '@_appsettings.Value.ApplicationSettings.SiteName';
        dataLayer.push({'packagesIDs': '@pack3Ids'});
    </script>
}

<div id="dvMask"></div>
<div id="dvTransOptResp">
    <div id="dvOptions"></div>
</div>
<input type="hidden" id="jplcNA" value="@Model.intNA" />
<input type="hidden" id="jplcID" value="@Model.multicountryID" />
<input type="hidden" id="jplcCo" value="@Model.multicountryNa.Replace("_", " " )" />
<input type="hidden" id="plcID" value="@Model.multicountryID" />

@if (@Model.leftDisplay.Exists(hi => hi.SDP_GroupProdKindID == 1620))
{
    <input type="hidden" id="moreExplore" value="@Model.leftDisplay.FirstOrDefault(hi => hi.SDP_GroupProdKindID == 1620).SDP_DisplayTitle" />

}
@if (@Model.leftDisplay.Exists(hi => hi.SDP_GroupProdKindID == 1623))
{
    <input type="hidden" id="moreHighlights" value="@Model.leftDisplay.FirstOrDefault(hi => hi.SDP_GroupProdKindID == 1623).SDP_DisplayTitle" />

}
@if (Model.leftDisplay.Exists(hi => hi.SDP_GroupProdKindID == 1619))
{
    <input type="hidden" id="interests" value="@Model.leftDisplay.FirstOrDefault(hi => hi.SDP_GroupProdKindID == 1619).SDP_DisplayTitle" />

}
@if (Model.leftDisplay.Exists(hi => hi.SDP_GroupProdKindID == 1912))
{
    <input type="hidden" id="atractions" value="@Model.leftDisplay.FirstOrDefault(hi => hi.SDP_GroupProdKindID == 1912).SDP_DisplayTitle" />
}
@if (Model.leftDisplay.Exists(hi => hi.SDP_GroupProdKindID == 2478) || Model.leftDisplay.Exists(hi => hi.SDP_GroupProdKindID == 2470))
{
    var selectedGroup = Model.leftDisplay.FirstOrDefault(hi => hi.SDP_GroupProdKindID == 2478 || hi.SDP_GroupProdKindID == 2470);
    <input type="hidden" id="travel" value="@selectedGroup.SDP_DisplayTitle" />
}
@{
    String newURL = "";
    String xpicURL = "";
    Int32 foN = 0;
    string rgxSeoSites = "\bbeach\b.|\blatin\b.|\beurope\b.|\basia\b.";

}



<div id="dvShowMap" class="dvShowMap">
    <div>
        <div class="dvmapTitle">@Model.intNA: Point of Interest Map</div>
        <div class="dvmapClose"><span>Close [X]</span></div>
        <div style="clear:both"></div>
    </div>
    <div id="dvGoogleMap" style="width:100%; height:95%; border-radius:7px; margin-bottom:10px;"></div>
    <div id="dvHotelMap" style="position:relative; z-index:9100;">
    </div>
</div>
<div id="CObgshow" style="display: none; position: absolute; top: 0px; left: 0px; filter: alpha(opacity=65); -moz-opacity: .65; opacity: .65; background-color: #CCCCCC; z-index: 1010;">
</div>




<div class="dvmainContenedor">
    <section>
        @{
            if (Model.allTop > 0)
            {
                foreach (var tp in Model.allTopDisplay)
                {
                    if (tp.STX_CMSID > 0)
                    {
                        <h1 class="dvPageTitleWhite">@Model.intNA Vacation Packages</h1>
                        <div class="cmsContainerA">
                            <div style="clear: both"></div>
                            @Html.Raw(tp.CMS_Content.Replace("http:", "https:"))
                        </div>
                    }
                    else
                    {
                        string imgSRC = tp.STX_PictureURL.Replace("http:", "https:");
                        string topTitle = tp.SDP_DisplayTitle != "none" ? tp.SDP_DisplayTitle : tp.STX_Title;
                        <div class="hero">
                            <img class="delay" src="https://pictures.tripmasters.com/siteassets/d/spacer.gif" data-src="@imgSRC.ToLower()"/>
                            <div class="hero__shadow"></div>
                            <h1>@topTitle</h1>
                        </div>
                        <p class="hero__description">
                            @tp.STX_Description
                        </p>
                    }
                }
            }
            else
            {
                <h1 class="dvPageTitleWhite">@Model.intNA Vacation Packages</h1>
                <div style="clear: both"></div>
            }
        }
    </section>
    @if (Model.listFeatured.Count() > 0)
    {
        <section>
            <h1 class="bestTitle"> BEST VACATION PACKAGES</h1>
            <div class="dvFeatContenedor">
                @{
                    Int32 PDLID = 0;
                    Int32 PDLDuration = 0;
                    String PDLTitle = "";
                    String SPDDescription = "";
                    Int32 NoOfFeed = 0;
                    String PDLContent = "";
                    decimal STPSave = 0;
                    String CountryName = "";
                    String imgPath = "";
                    foreach (var p in Model.listFeatured)
                    {
                        PDLID = p.PDLID;
                        PDLTitle = p.PDL_Title;
                        PDLDuration = p.PDL_Duration;
                        NoOfFeed = p.NoOfFeed;
                        SPDDescription = p.SPD_Description;
                        PDLContent = p.PDL_Content;
                        STPSave = p.STP_Save_;
                        CountryName = p.CountryName;
                        imgPath = p.IMG_Path_URL;
                    }
                }
                <div class="dvFeatPictures">
                    <input type="hidden" id="imgItemID" value="@PDLID" />
                    <div id="dvImgContOv">
                        <div id="dvshowPIC"> <img src=@String.Format("https://pictures.tripmasters.com{0}",@imgPath.ToLower().Replace(" ","_")) width="300" height="300" border="0" /></div>
                    </div>
                </div>
                <div class="dvFeatInfo">
                    <input type="hidden" id="featItinLink" value=@String.Format("/{0}/Package/{1}/{2}", @CountryName.Replace(" ", "_"), PDLID, PDLTitle.Replace(" ", "_")) />
                    <ul style="padding-top:10px">
                        <li>
                            <span class="spfeatTitle">
                                <a asp-controller="Package" asp-action="Index" asp-route-id="@PDLID" asp-route-Country=@String.Format("{0}", @CountryName.Replace(" ", "_")) asp-route-name="@PDLTitle.Replace(" ", "_")">
                                    @PDLTitle
                                </a>
                            </span>
                            <span class="spfeatNight">
                                @if (STPSave != 9999)
                                {
                                    @Html.Raw(String.Format("{0} nights from <span>{1:C0}*</span>", @PDLDuration, @STPSave));
                                }
                                else
                                {
                                    @Html.Raw(String.Format("{0} nights itinerary <span>&nbsp;</span>", @PDLDuration));
                                }
                            </span>
                        </li>
                    </ul>
                    @if (NoOfFeed > 0)
                    {
                        <p class="pfeatFeed">
                            <a asp-controller="Package" asp-action="Index" asp-route-id="@PDLID" asp-route-Country=@String.Format("{0}", @CountryName.Replace(" ", "_")) asp-route-name="@PDLTitle.Replace(" ", "_")">
                                @NoOfFeed Customer Reviews
                            </a>
                        </p>
                    }
                    <p class="pfeatDesc">@Html.Raw(@SPDDescription)</p>
                    <p class="pfeatIncld">
                        <b>Included:</b>
                        <ul class="includedList">
                            @{
                                string[] includeList = PDLContent.Split("\r\n");
                                foreach (var fpr in includeList)
                                {
                                    <li>
                                        <span>&#8226</span> @Html.Raw(@fpr)
                                    </li>
                                }
                            }
                        </ul>
                    </p>
                    <a asp-controller="Package" asp-action="Index" asp-route-id="@PDLID" asp-route-Country=@String.Format("{0}", @CountryName.Replace(" ", "_")) asp-route-name="@PDLTitle.Replace(" ", "_")">
                        <table class="dvCustomIt">
                            <tr>
                                <td>Customize It</td>
                            </tr>
                        </table>
                    </a>
                </div>
                <br style="clear:both" />

            </div>

        </section>
    }
    @{
        if (Model.otherFeatured.Count() > 0)
        {
            <section>
                <h1 class="BestCity">Featured Itineraries</h1>
                <div id="otherFeat">
                    <ul>
                        @{
                            string otherLns;
                            string[] otherLn;
                            string dvStyle = "";
                            Int32 lastPack = Model.boxFeaturPacks.Count - 1;
                            Int32 othC = 0;
                            foN = 1;
                            for (Int32 fo = foN; fo <= lastPack; fo++)
                            {
                                otherLns = Model.featPack[fo].ToString();
                                otherLn = otherLns.Split("|");
                                if (fo > foN)
                                {
                                    dvStyle = "<div class='BGother'>&nbsp;</div>";
                                }
                                <li class="BGotherFeatu">
                                    @Html.Raw(dvStyle)
                                    <div style="height: 200px">
                                        <div style="padding-left: 12px;">
                                            <a asp-controller="Package" asp-action="Index" asp-route-id="@Model.boxFeaturPacks[fo].PDLID" asp-route-Country=@String.Format("{0}", @Model.boxFeaturPacks[fo].CountryName.Replace(" ", "_")) asp-route-name="@Model.boxFeaturPacks[fo].PDL_Title.Replace(" ", "_")">
                                                <img src=@String.Format("https://pictures.tripmasters.com{0}", @Model.boxFeaturPacks[fo].IMG_Path_URL.ToLower()) width="204" height="204" border="0" />
                                            </a>
                                        </div>
                                        <div class="divPackName">
                                            <p class="packageName">
                                                <a asp-controller="Package" asp-action="Index" asp-route-id="@Model.boxFeaturPacks[fo].PDLID" asp-route-Country=@String.Format("{0}", @Model.boxFeaturPacks[fo].CountryName.Replace(" ", "_")) asp-route-name="@Model.boxFeaturPacks[fo].PDL_Title.Replace(" ", "_")">
                                                    @Model.boxFeaturPacks[fo].PDL_Title
                                                </a>
                                            </p>
                                        </div>
                                        @{
                                            string lnGuiNo = "none";
                                            if (@Model.boxFeaturPacks[fo].SPD_InternalComments.Contains("1784:."))
                                            {
                                                lnGuiNo = "Guided";
                                            }
                                            else
                                            {
                                                if (@Model.boxFeaturPacks[fo].SPD_InternalComments.Contains("1785:."))
                                                {
                                                    lnGuiNo = "Partially Guided";
                                                }
                                            }
                                            if (lnGuiNo != "none")
                                            {
                                                <div align="left" id=@String.Format("{0}|{1}|F", lnGuiNo,  @Model.boxFeaturPacks[fo].PDLID) class="Text_12_Gray" style="cursor: pointer;width: 100px; padding: 0px 10px;" onmouseover="showPopUp(this.id)" onmouseout="hidePopUp(this.id)">
                                                    @lnGuiNo
                                                </div>
                                            }
                                            if (@Model.boxFeaturPacks[fo].STP_Save_ != 9999)
                                            {
                                                <div align="left" style="padding: 3px 10px;">
                                                    <span class="priceGrey">
                                                        @Model.boxFeaturPacks[fo].PDL_Duration
                                                        nights from
                                                    </span>
                                                    <span class="Orange-Arial15NB">
                                                        <b>
                                                            @Model.boxFeaturPacks[fo].STP_Save_.ToString("C0")*
                                                        </b>
                                                    </span>
                                                </div>
                                            }
                                            if (@Model.boxFeaturPacks[fo].NoOfFeed > 0)
                                            {
                                                <div class="Text_Arial11_Blue" align="left" style="padding: 3px 5px 3px 10px;">
                                                </div>
                                            }
                                        }
                                    </div>
                                    <div id=@String.Format("dvMrTxt{0}", @Model.boxFeaturPacks[fo].PDLID) align="left" class="dvMoreDetail">
                                        <div style="cursor: pointer" onclick=@String.Format("openDivInfF({0},1)",@Model.boxFeaturPacks[fo].PDLID)>
                                            <div class="moreDetails" id=@String.Format("moreTx{0}", @Model.boxFeaturPacks[fo].PDLID)>More details<span>&rsaquo;</span> </div>
                                        </div>
                                    </div>
                                    <div id=@String.Format("dvMrPic{0}", @Model.boxFeaturPacks[fo].PDLID) class="BGDown" style="display: none;">
                                        <div>&nbsp;</div>
                                    </div>

                                </li>
                                othC = othC + 1;
                                if (othC == 4)
                                {
                                    fo = lastPack;
                                }

                            }
                        }
                        <br class="dvClear" />

                    </ul>
                </div>
                <div id="otherMr" style="display: none">
                    @{
                        othC = 0;
                        for (Int32 fo = foN; fo <= lastPack; fo++)
                        {
                            <div id=@String.Format("pkInf{0}", @Model.boxFeaturPacks[fo].PDLID) style="padding: 10px 0px 5px 0px; display: none;" align="left">
                                <div class="infoText">
                                    <p>
                                        @Html.Raw(@Model.boxFeaturPacks[fo].SPD_Description);
                                    </p>
                                    <div style="padding: 5px 10px 10px 0px;width:50%;float:left;">
                                        <div style="padding:10px 0 0">
                                            <b>Included:</b>
                                        </div>
                                        <div style="padding-left: 15px;line-height: 21px;">
                                            @{
                                                string[] contFParts = @Model.boxFeaturPacks[fo].PDL_Content.Split("\r\n");
                                                foreach (var fpr in contFParts)
                                                {
                                                    @Html.Raw("<li>" + fpr + "</li>");
                                                }
                                            }
                                        </div>
                                        <div style="clear: both">
                                        </div>
                                    </div>
                                </div>
                                <div class="BGpriceButtom">
                                    @if (@Model.boxFeaturPacks[fo].STP_Save_ != 9999)
                                    {
                                        <div style="padding: 3px 0px;">
                                            <span class="Text_Arial11_Light">
                                                @Model.boxFeaturPacks[fo].PDL_Duration
                                                nights from
                                            </span> <span class="Orange-Arial12NB">
                                                <b>
                                                    @Model.boxFeaturPacks[fo].STP_Save_.ToString("C0")*
                                                </b>
                                            </span>
                                        </div>
                                    }
                                    <div style="padding: 3px 0px;">
                                        <a asp-controller="Package" asp-action="Index" asp-route-id="@Model.boxFeaturPacks[fo].PDLID" asp-route-Country=@String.Format("{0}", @Model.boxFeaturPacks[fo].CountryName.Replace(" ", "_")) asp-route-name="@Model.boxFeaturPacks[fo].PDL_Title.Replace(" ", "_")">
                                            <img src="https://pictures.tripmasters.com/siteassets/d/BOT-Customize.gif" width="120" height="28" border="0" />
                                        </a>
                                    </div>
                                    @if (@Model.boxFeaturPacks[fo].NoOfFeed > 0)
                                    {
                                        <div class="Text_Arial12_Blue" style="padding: 3px 0px;">
                                            <a asp-route="Feedback_Route" asp-route-country=@String.Format("{0}", @Model.boxFeaturPacks[fo].CountryName.Replace(" ", "_")) asp-route-pack="@Model.boxFeaturPacks[fo].PDL_Title.Replace(" ", "_")" asp-route-id="@Model.boxFeaturPacks[fo].PDLID">
                                                Customer feedback (@Model.boxFeaturPacks[fo].NoOfFeed)
                                            </a>
                                        </div>
                                    }
                                </div>
                                <div style="clear: both">
                                </div>
                                <div id=@String.Format("dvajx{0}", @Model.boxFeaturPacks[fo].PDLID) style="display: none;">
                                    <hr class="DotedLine" />
                                    <div class="Text_Arial11" id=@String.Format("dvRelF{0}", @Model.boxFeaturPacks[fo].PDLID) style="display: block; padding: 5px 2px 10px 10px;">
                                        <center>
                                            <img src="https://pictures.tripmasters.com/siteassets/d/ajax-indicator.gif" width="16" height="16" />
                                        </center>
                                    </div>
                                    <hr class="DotedLine" />
                                    <form name=@String.Format("frm{0}", @Model.boxFeaturPacks[fo].PDLID) id=@String.Format("frm{0}", @Model.boxFeaturPacks[fo].PDLID) method="post">
                                        <div class="Text_Arial11" id=@String.Format("dvComF{0}", @Model.boxFeaturPacks[fo].PDLID) style="display: block; padding: 5px 5px;">
                                            <center>
                                                <img src="https://pictures.tripmasters.com/siteassets/d/ajax-indicator.gif" width="16" height="16" />
                                            </center>
                                        </div>
                                        <div class="Text_Arial12_LightBold" style="padding: 5px 3px 15px 3px;" align="center">
                                            <a style="cursor: pointer;float:right;" onclick=@String.Format("findPacks('frm{0}'); return false", @Model.boxFeaturPacks[fo].PDLID)>
                                                &gt;&gt; Find similar package
                                            </a>
                                        </div>
                                        <input type="hidden" name="allIDsdp" id="allIDsdp" value="" />
                                        <input type="hidden" name="allID" id="allID" value="" />
                                        <input type="hidden" name="allNA" id="allNA" value="" />
                                    </form>
                                    <hr class="DotedLine" />
                                </div>
                                <div align="left" class="dvMoreDetailClose">
                                    <span style="cursor: pointer" onclick=@String.Format("openDivInfF({0},2)", @Model.boxFeaturPacks[fo].PDLID)>
                                        <img src="https://pictures.tripmasters.com/siteassets/d/minus.jpg" width="9" height="9" align="absmiddle" />&nbsp;&nbsp;<u>
                                            Close more details
                                        </u>
                                    </span>
                                </div>
                            </div>
                            othC = othC + 1;
                            if (othC == 4)
                            {
                                foN = fo + 1;
                                fo = lastPack;
                            }
                        }
                    }

                </div>
                <div class="blueLineBottom"></div>
            </section>

        }


    }


    @{ bool packLoaded = false;
        int m = Model.areaHighlightOrientation.Count();
        int index = 0;
        int k = 1;
        if (m > 0 && m <= 3)
        {
            index = m;
        }
        else
        {
            index = 4;
        }

    }

    @foreach (var r in Model.areaHighlightOrientation.OrderBy(hi => hi.SDP_Order).ThenBy(hi => hi.SDP_GroupProdKindID))
    {
        if (k == index && packLoaded == false)
        {
            if (Model.suggestedPackages.Count()+1 > 0)
            {
                string otherLns;
                string[] otherLn;
                string dvStyle = "";
                Int32 lastPack = Model.featPack.Count - 1;
                Int32 othC = 1;
                <section id="featuredItin" style="display: block;width:980px;margin:0 auto;margin-top:50px">
                    <h1 class="titlesuggestion">SUGGESTED ITINERARIES</h1>
                    <ul style="padding:0px;list-style:none;">
                        @{ othC = 1;
                            Int32 bnn = 0;
                            string margT;
                            string bg = "";
                            Boolean two_CityAdded = false;
                            Boolean three_CityAdded = false;
                            Boolean depth_CityAdded = false;
                            @if (@Model.boxFeaturPacks.Count - 1 >= 8)
                            {
                                bnn = 8;
                            }
                            else
                            {
                                bnn = @Model.boxFeaturPacks.Count - 1;
                            }

                            @for (Int32 fo = 5; fo <= @Model.boxFeaturPacks.Count - 1; fo++)
                            {
                                otherLns = Model.featPack[fo].ToString();
                                otherLn = otherLns.Split("|");
                                @if (@Model.boxFeaturPacks[fo].SPPW_Weight >= 200 && @Model.boxFeaturPacks[fo].SPPW_Weight <= 299)
                                {
                                    if (!two_CityAdded)
                                    {
                                        if (@Model.bannerOnPage.Count > 0)
                                        {
                                            if (@Model.bannerOnPage.FirstOrDefault().STX_URL != "none")
                                            {
                                                <div style="PADDING:15px 0px 15px 0px; display:block;" align="center">
                                                    <a href=@String.Format("/{0}", @Model.bannerOnPage.FirstOrDefault().STX_URL.ToLower())>
                                                        <img src=@String.Format("{0}", @Model.bannerOnPage.FirstOrDefault().STX_PictureURL.ToLower().Replace("http:", "https:")) border="0" style="padding: 2px 0px 2px 0px" title="@Model.bannerOnPage.FirstOrDefault().STX_Title" alt="" />
                                                    </a>
                                                </div>
                                            }
                                        }
                                        <div style="padding: 20px 5px 5px 20px;" class="Text_Arial18_Orange">Two City Itineraries:</div>
                                    }
                                    two_CityAdded = true;
                                }
                                @if (@Model.boxFeaturPacks[fo].SPPW_Weight >= 300 && @Model.boxFeaturPacks[fo].SPPW_Weight <= 399)
                                {
                                    if (!three_CityAdded)
                                    {
                                        <div style="padding: 20px 5px 5px 20px;" class="Text_Arial18_Orange">Three City Itineraries:</div>
                                    }
                                    three_CityAdded = true;
                                }
                                @if (@Model.boxFeaturPacks[fo].SPPW_Weight >= 400 && @Model.boxFeaturPacks[fo].SPPW_Weight <= 9999)
                                {
                                    if (!depth_CityAdded)
                                    {
                                        <div style="padding: 20px 5px 5px 20px;" class="Text_Arial18_Orange">In Depth City Itineraries:</div>
                                    }
                                    depth_CityAdded = true;
                                }


                                <li class="liSuggested ">
                                    <div style="padding: 3px 5px 2px 0px; float: left;">
                                        <img src="https://pictures.tripmasters.com/siteassets/d/Plus.jpg" name=@String.Format("picF{0}",otherLn[0]) width="0" height="0" align="absmiddle" id=@String.Format("picF{0}",otherLn[0]) style="cursor: pointer" onclick=@String.Format("openDivInfo({0},'F','{1}','{2}')", otherLn[0], Model.multicountryNa.Replace(" ", "_"), otherLn[1].Replace(" ", "_")) />
                                    </div>
                                    <div class="packageNameSuggested">
                                        <span style="cursor: pointer" onclick=@String.Format("openDivInfo({0},'F','{1}','{2}')",@Model.boxFeaturPacks[fo].PDLID, @Model.multicountryNa.Replace(" ", " _"), @Model.boxFeaturPacks[fo].PDL_Title.Replace(" ", "_"))>
                                            @Model.boxFeaturPacks[fo].PDL_Title
                                        </span>
                                    </div>
                                    @if (otherLn[4] != "9999")
                                    {
                                        <div class="packagesPrice">
                                            <span style="cursor: pointer" onclick=@String.Format("openDivInfo({0},'F','{1}','{2}')",@Model.boxFeaturPacks[fo].PDLID, @Model.multicountryNa.Replace(" ", " _"), @Model.boxFeaturPacks[fo].PDL_Title.Replace(" ", "_"))>
                                                @otherLn[3] nights from
                                                <b class="Orange-Arial12NB">
                                                    @Html.Raw(Decimal.Parse(otherLn[4]).ToString("C0", System.Globalization.CultureInfo.CurrentCulture))*
                                                </b>
                                            </span>
                                        </div>
                                        <div class="divarrow" onclick=@String.Format("openDivInfo({0},'F','{1}','{2}')", @otherLn[0], @Model.multicountryNa.Replace(" ", "_"), otherLn[1].Replace(" ", "_"))><span id=@String.Format("arrow{0}", @otherLn[0]) class="arrow">&rsaquo;</span></div>

                                    }
                                    else
                                    {
                                        <div class="featMoreDetails">
                                            <span id=@String.Format("mrDtls{0}", otherLn[0]) style="cursor: pointer" onclick=@String.Format("openDivInfo({0},'F','{1}','{2}')", @otherLn[0], @Model.multicountryNa.Replace(" ", "_"), otherLn[1].Replace(" ", "_"))>
                                                More details
                                            </span>
                                        </div>
                                        <div class="divarrow" onclick=@String.Format("openDivInfo({0},'F','{1}','{2}')", @otherLn[0], @Model.multicountryNa.Replace(" ", "_"), otherLn[1].Replace(" ", "_"))><span id=@String.Format("arrow{0}", @otherLn[0]) class="arrow">&rsaquo;</span></div>

                                    }
                                    <div style="clear: both">
                                    </div>
                                    @{
                                        string lnGuiNo = "none";
                                        @if (otherLn[7].Contains("1784:."))
                                        {
                                            lnGuiNo = "Guided";
                                        }
                                        else
                                        {
                                            if (otherLn[7].Contains("1785:."))
                                            {
                                                lnGuiNo = "Partially Guided";
                                            }
                                        }
                                        if (lnGuiNo != "none")
                                        {
                                            <div align="left" id=@String.Format("{0}|{1}|F", lnGuiNo, otherLn[0]) class="Text_12_Gray" style="cursor: pointer;
                                    width: 100px; padding: 0px 15px;" onmouseover="showPopUp(this.id)" onmouseout="hidePopUp(this.id)">
                                                @lnGuiNo
                                            </div>
                                        }
                                    }
                                </li>
                                <li id=@String.Format("dvWaitF{0}", otherLn[0]) style="padding: 30px; display: none" align="center">
                                </li>
                                <div id=@String.Format("dvInfF{0}", otherLn[0]) class="dvsuggInfo">
                                    <div id=@String.Format("dvTxtF{0}", otherLn[0]) class="text_12" style="padding: 3px 0px;">
                                        @Html.Raw(otherLn[2])
                                    </div>
                                    <div style="padding: 5px 0px;">
                                        <b>Included:</b>
                                    </div>
                                    <ul class="ulHideSuggest">
                                        @{
                                            string[] contFParts = @otherLn[5].Split("\r\n");
                                            foreach (var fpr in contFParts)
                                            {
                                                @Html.Raw("<li>" + fpr + "</li>");
                                            }
                                        }
                                    </ul>
                                    @if (Int32.Parse(otherLn[6]) > 0)
                                    {
                                        <div class="Text_Arial12" id=@String.Format("dvFeedF{0}", otherLn[0]) style="display: block; padding: 5px 5px;">

                                            <a href=@String.Format("https://www.tripmasters.com/europe/{0}/{1}/feedback-{2}", @otherLn[9].Replace(" ", "_").ToLower(), @otherLn[1].Replace(" ", "_").ToLower(), @otherLn[0])>
                                                Customer feedback (@otherLn[6])
                                                <img src="https://pictures.tripmasters.com/siteassets/d/CustFeed_Mini.jpg" width="21" height="16" border="0" />
                                            </a>
                                        </div>
                                    }
                                    <button id=@String.Format("butt{0}", otherLn[0]) class="dvSuggCustomIt">
                                        &nbsp;&nbsp;&nbsp;&nbsp;
                                        <a asp-controller="Package" asp-action="Index" asp-route-id="@otherLn[0]" asp-route-Country="@otherLn[9].Replace(" ", "_").ToLower()" asp-route-name="@otherLn[1].Replace(" ", "_")">
                                            Customize It
                                        </a>
                                    </button>
                                    <div style="clear:both"></div>
                                    <hr class="DotedLine" />
                                    <div class="Text_Arial12" id=@String.Format("dvRelF{0}", otherLn[0]) style="display: none; padding: 5px 5px;">
                                    </div>
                                    <hr class="DotedLine" />

                                    <form name=@String.Format("frm{0}", otherLn[0]) id=@String.Format("frm{0}", otherLn[0]) method="post">
                                        <div class="Text_Arial12" id=@String.Format("dvComF{0}", otherLn[0]) style="display: none; padding: 5px 5px;">
                                        </div>
                                        <div class="buttonFindSimilar">
                                            <a style="cursor: pointer;" onclick=@String.Format("findPt4('frm{0}'); return false", otherLn[0])>
                                                &gt;&gt; Find similar package
                                            </a>
                                        </div>
                                        <input type="hidden" name="allIDsdp" id="allIDsdp" value="" />
                                        <input type="hidden" name="allID" id="allID" value="" />
                                        <input type="hidden" name="allNA" id="allNA" value="" />
                                    </form>
                                </div>
                                @if (othC == bnn)
                                {
                                    if (@Model.bannerOnPage.Count > 0)
                                    {
                                        foreach (var b in @Model.bannerOnPage)
                                        {
                                            if (b.STX_URL != "none")
                                            {
                                                string bannerURL = @b.STX_URL;
                                                if (@bannerURL.StartsWith("/"))
                                                {
                                                    bannerURL = @bannerURL.Substring(1, @b.STX_URL.Length - 1);
                                                }
                                                <div style="padding: 15px 0px 15px 0px; display: block;" align="center">
                                                    <a href=@String.Format("{0}{1}",_appsettings.Value.ApplicationSettings.SiteName,@bannerURL.Replace(" ","_").ToLower())>
                                                        <img src=@String.Format("{0}", @b.STX_PictureURL.ToLower()) border="0" style="padding: 2px 0px 2px 0px" title="@b.STX_Title" />
                                                    </a>
                                                </div>
                                            }
                                        }
                                    }
                                }

                            }

                        }

                    </ul>

                </section>

            }
            packLoaded = true;
        }
        Int32 boxOn = @r.SDP_GroupProdKindID;
        string displayTitle = r.SDP_DisplayTitle;
        switch (boxOn)
        {
            case 1912:
                @if (Model.leftDisplay.Exists(hi => hi.SDP_GroupProdKindID == 1623))
                {
                    <section class="sectionDescription">
                        @if (@Model.leftDisplay.FirstOrDefault(hi => hi.SDP_GroupProdKindID == 1912).SDP_DisplayTitle != "none")
                        {
                            <h1 class="titleRegion" id="1912 longOrientation">@Model.leftDisplay.FirstOrDefault(hi => hi.SDP_GroupProdKindID == 1912).SDP_DisplayTitle </h1>
                        }
                        @Html.Raw("<ul class='ulinterests'>")
                        @{List<BoxContent> leftOrientLong = Model.boxContent.FindAll(hi => hi.STX_ProdKindID == 1912);
                            Int32 noInterest = 0;
                        }
                        @foreach (var at in @leftOrientLong)
                        {
                            Int32 pW = 50;
                            Int32 pH = 50;
                            if (at.STX_PictureHeightpx != 0)
                            {
                                pH = at.STX_PictureHeightpx;
                            }
                            if (at.STX_PictureWidthpx != 0)
                            {
                                pW = at.STX_PictureWidthpx;
                            }
                            string xURL = at.STX_Title;
                            if (at.STX_URL != "none")
                            {
                                xpicURL = at.STX_URL;
                                if (xpicURL[0].ToString() == "/")
                                {
                                    xpicURL = @ViewBag.AppBasePath + xpicURL.Replace("%20", "_");
                                }
                                if (xpicURL[0].ToString() == "h")
                                {
                                    if (System.Text.RegularExpressions.Regex.Match(xpicURL, rgxSeoSites, System.Text.RegularExpressions.RegexOptions.IgnoreCase).Success)
                                    {
                                        xpicURL = xpicURL.Replace(".aspx/", ".aspx");
                                    }
                                }
                                if (xpicURL.ToString().ToLower().Contains("/latin/"))
                                {
                                    newURL = String.Format("https://www.tripmasters.com{0}", xpicURL.Replace("/europe", "").Replace("/Europe", "").ToLower());

                                }
                                else if (xpicURL.ToString().ToLower().Contains("/asia/"))

                                {

                                    newURL = String.Format("https://www.tripmasters.com{0}", xpicURL.Replace("/europe", "").Replace("/Europe", "").ToLower());
                                }
                                else
                                {
                                    newURL = @String.Format("{0}{1}", _appsettings.Value.ApplicationSettings.SiteName, xpicURL.ToLower());
                                }
                            }
                            if (at.STX_CMSID == 0)
                            {
                                if (noInterest == 2)
                                {
                                    @Html.Raw("</ul>");
                                    <br style="clear:both" />
                                    @Html.Raw("<ul id='dvEachHideAttractions' class='dvEachHideAttractions'>");
                                }

                                @if (at.STX_PictureURL != "none")
                                {
                                    string imgSRC = at.STX_PictureURL.Replace("http:", "https:");
                                    <li class="liInterest">
                                        <div class="imgInterests">

                                            @if (xpicURL.ToString().ToLower().Contains("/latin/"))
                                            {
                                                <a href=@String.Format("https://www.tripmasters.com/{0}", xpicURL.Replace("/europe", "").Replace("/Europe", "").ToLower())><img class="delay" src="https://pictures.tripmasters.com/siteassets/d/spacer.gif" data-src="@imgSRC.ToLower()" alt="no image" /></a>
                                            }
                                            else if (xpicURL.ToString().ToLower().Contains("/asia/"))
                                            {
                                                <a href=@String.Format("https://www.tripmasters.com/{0}", xpicURL.Replace("/europe", "").Replace("/Europe", "").ToLower())><img class="delay" src="https://pictures.tripmasters.com/siteassets/d/spacer.gif" data-src="@imgSRC.ToLower()" alt="no image" /></a>
                                            }
                                            else
                                            {
                                                <a href=@String.Format("{0}{1}",_appsettings.Value.ApplicationSettings.SiteName, xpicURL.ToLower())><img class="delay" src="https://pictures.tripmasters.com/siteassets/d/spacer.gif" data-src="@imgSRC.ToLower()" /></a>
                                            }
                                        </div>
                                        <div class="titleDescription">
                                            <h2 class="Text_Arial20_Blue"><a href="@newURL.Replace(" ", "_").ToLower()">@at.STX_Title</a></h2>
                                            <p class="descriptionBest">@at.STX_Description</p>
                                        </div>

                                    </li>
                                }

                                <div style="clear:both"></div>

                            }
                            else
                            {
                                <div style="margin:3px 5px 10px 5px; display:block">
                                    <div style=" overflow:auto">
                                        @at.CMS_Content.Replace("http:", "https:")
                                    </div>
                                </div>
                            }

                            noInterest = noInterest + 1;
                        }
                        @Html.Raw("</ul>")
                        @if (leftOrientLong.Count() > 2)
                        {
                            <div class="moreButtonAttractions" id="moreButtonAttractions">See @Model.leftDisplay.FirstOrDefault(hi => hi.SDP_GroupProdKindID == 1912).SDP_DisplayTitle</div>
                        }
                    

                    </section>
                }
                break;
            @*start Highlights 2*@
            case 1623:
                @if (Model.leftDisplay.Exists(hi => hi.SDP_GroupProdKindID == 1623))
                {
                    <section>
                        <h1 class="titleRegion" id="1623 highlights2">@Model.leftDisplay.FirstOrDefault(hi => hi.SDP_GroupProdKindID == 1623).SDP_DisplayTitle</h1>
                        @Html.Raw("<ul class='ul-Flex' style='max-width: 100% !important; column-gap: 79px !important;justify-content:unset;'>")

                        @{
                            List<BoxContent> Regions = Model.boxContent.FindAll(hi => hi.STX_ProdKindID == 1623);
                            Int32 noReg = 0;
                            foreach (var hi in Regions)
                            {

                                Int32 pW = 50;
                                Int32 pH = 50;
                                if (hi.STX_PictureHeightpx != 0)
                                {
                                    pH = hi.STX_PictureHeightpx;
                                }
                                if (hi.STX_PictureWidthpx != 0)
                                {
                                    pW = hi.STX_PictureWidthpx;
                                }
                                string xURL = hi.STX_Title;
                                if (hi.STX_URL != "none")
                                {
                                    xpicURL = hi.STX_URL;
                                    if (xpicURL[0].ToString() == "/")
                                    {
                                        xpicURL = @ViewBag.AppBasePath + xpicURL.Replace("%20", "_").Replace("/europe", "");
                                    }
                                    if (xpicURL[0].ToString() == "h")
                                    {
                                        if (System.Text.RegularExpressions.Regex.Match(xpicURL, "\bbeach\b.|\blatin\b.|\beurope\b.|\basia\b.", System.Text.RegularExpressions.RegexOptions.IgnoreCase).Success)
                                        {

                                        }
                                    }
                                }

                                if (hi.STX_CMSID == 0)
                                {
                                    string shwHid = "";
                                    if (noReg > 2)
                                    {
                                        shwHid = "class=li-Hide";
                                    }

                                    <li @shwHid>
                                        <div class="divdvregion">
                                            @if (hi.STX_PictureURL != "none")
                                            {
                                                string imgSRC = hi.STX_PictureURL.Replace("http:", "https:");
                                                <a href=@String.Format("{0}{1}", @_appsettings.Value.ApplicationSettings.SiteName,@hi.STX_URL.Replace(" ","_").ToLower())><img class="delay" src="https://pictures.tripmasters.com/siteassets/d/spacer.gif" data-src="@imgSRC.ToLower()" alt="@hi.STX_Title" style="max-height:200px;max-width:200px;" /></a>
                                            }

                                        </div>
                                        <div class="divTilteReg">
                                            <span><a href=@String.Format("{0}{1}", @_appsettings.Value.ApplicationSettings.SiteName,@hi.STX_URL.Replace(" ","_").ToLower())>@hi.STX_Title</a></span>
                                            <span>
                                                <a href=@String.Format("{0}{1}", @_appsettings.Value.ApplicationSettings.SiteName,@hi.STX_URL.Replace(" ","_").ToLower())><img class="delay" src="https://pictures.tripmasters.com/siteassets/d/spacer.gif" data-src="https://pictures.tripmasters.com/siteassets/d/icon-next-blue-light-braun-md.png" style="float:right;width:25px" alt="no image" /></a>
                                            </span>
                                        </div>
                                        <div class="moreDescription">
                                            <p class="pMoreDescription"> @((hi.STX_Description == "none") ? "" : hi.STX_Description) </p>
                                        </div>

                                        <div style="clear:both"></div>
                                    </li>
                                }
                                else
                                {
                                    <div style="display:block">
                                        <div style=" overflow:auto">@hi.CMS_Content.Replace("http:", "https:")</div>
                                    </div>

                                }
                                noReg = noReg + 1;

                            }

                        }
                        @Html.Raw("</ul>")
                        @if (Regions.Count() > 3)
                        {
                            <div class="moreButton" id="moreButtonReg">See All @Model.leftDisplay.FirstOrDefault(hi => hi.SDP_GroupProdKindID == 1623).SDP_DisplayTitle</div>

                        }
                        <div class="blueLineBottom"></div>
                    </section>
                }


                break;
            @*start  highlight3*@
            case 1619:
                @if (Model.leftDisplay.Exists(hi => hi.SDP_GroupProdKindID == 1619))
                {
                    <section class="regionHighlight" id="1619 highlight3">
                        <h1 class="titleRegion">@Model.leftDisplay.FirstOrDefault(hi => hi.SDP_GroupProdKindID == 1619).SDP_DisplayTitle</h1>
                        @Html.Raw("<ul class='ulMore'>")

                        @{
                            List<BoxContent> Interest = Model.boxContent.FindAll(hi => hi.STX_ProdKindID == 1619);
                            Int32 noInterest = 0;
                            foreach (var hi in Interest)
                            {
                                Int32 pW = 50;
                                Int32 pH = 50;
                                if (hi.STX_PictureHeightpx != 0)
                                {
                                    pH = hi.STX_PictureHeightpx;
                                }
                                if (hi.STX_PictureWidthpx != 0)
                                {
                                    pW = hi.STX_PictureWidthpx;
                                }
                                string xURL = hi.STX_Title;
                                if (hi.STX_URL != "none")
                                {
                                    xpicURL = hi.STX_URL;
                                    if (xpicURL[0].ToString() == "/")
                                    {
                                        xpicURL = @ViewBag.AppBasePath + xpicURL.Replace("%20", "_").Replace("/europe", "");
                                    }
                                    if (xpicURL[0].ToString() == "h")
                                    {
                                        if (System.Text.RegularExpressions.Regex.Match(xpicURL, "\bbeach\b.|\blatin\b.|\beurope\b.|\basia\b.", System.Text.RegularExpressions.RegexOptions.IgnoreCase).Success)
                                        {

                                        }
                                    }
                                    xURL = xpicURL;
                                }

                                if (hi.STX_CMSID == 0)
                                {
                                    if (noInterest == 4)
                                    {
                                        @Html.Raw("</ul>");
                                        <br style="clear:both" />
                                        @Html.Raw("<ul id='dvEachHideInterest' class='dvEachHideInterest'>");
                                    }

                                    <li class="dvhighlight3">
                                        <div class="highlight3div">
                                            @if (hi.STX_PictureURL != "none")
                                            {
                                                string imgSRC = hi.STX_PictureURL.Replace("http:", "https:");
                                                <a href=@String.Format("{0}{1}", @_appsettings.Value.ApplicationSettings.SiteName,@hi.STX_URL.Replace(" ","_").ToLower())><img class="delay" src="https://pictures.tripmasters.com/siteassets/d/spacer.gif" data-src="@imgSRC.ToLower()" alt="@hi.STX_Title" style="max-height:200px;max-width:200px;" /></a>
                                            }


                                            <div class="divTilteHighlight3"><span><a href=@String.Format("{0}{1}", @_appsettings.Value.ApplicationSettings.SiteName,@hi.STX_URL.Replace(" ","_").ToLower())>@hi.STX_Title </a></span></div>
                                        </div>
                                    </li>
                                }
                                else
                                {
                                    <div style="display:block">
                                        <div style=" overflow:auto">@hi.CMS_Content.Replace("http:", "https:")</div>
                                    </div>

                                }
                                noInterest = noInterest + 1;

                            }

                            <div style="clear:both"></div>
                        }
                        @Html.Raw("</ul>")
                        @if (Interest.Count() > 4)
                        {
                            <div class="moreButtonInt" id="moreButtonInt">See @Model.leftDisplay.FirstOrDefault(hi => hi.SDP_GroupProdKindID == 1619).SDP_DisplayTitle</div>

                        }
                        <div class="blueLineBottom"></div>
                    </section>
                }


                break;

            <div class="blueLineBottom"></div>
            @*Start highlight4*@
            case 1620:
                <section>
                    <h1 class="titleRegion" id="1620 highlight4">@Model.leftDisplay.FirstOrDefault(hi => hi.SDP_GroupProdKindID == 1620).SDP_DisplayTitle</h1>
                    @Html.Raw("<ul class='ulMore'>")

                    @{
                        List<BoxContent> Highlihgt4 = Model.boxContent.FindAll(hi => hi.STX_ProdKindID == 1620);
                        Int32 noHighlihgt4 = 0;
                        foreach (var hi in Highlihgt4)
                        {

                            Int32 pW = 50;
                            Int32 pH = 50;
                            if (hi.STX_PictureHeightpx != 0)
                            {
                                pH = hi.STX_PictureHeightpx;
                            }
                            if (hi.STX_PictureWidthpx != 0)
                            {
                                pW = hi.STX_PictureWidthpx;
                            }
                            string xURL = hi.STX_Title;
                            if (hi.STX_URL != "none")
                            {
                                xpicURL = hi.STX_URL;
                                if (xpicURL[0].ToString() == "/")
                                {
                                    xpicURL = @ViewBag.AppBasePath + xpicURL.Replace("%20", "_").Replace("/europe", "");
                                }
                                if (xpicURL[0].ToString() == "h")
                                {
                                    if (System.Text.RegularExpressions.Regex.Match(xpicURL, "\bbeach\b.|\blatin\b.|\beurope\b.|\basia\b.", System.Text.RegularExpressions.RegexOptions.IgnoreCase).Success)
                                    {

                                    }
                                }
                            }

                            if (hi.STX_CMSID == 0)
                            {
                                if (noHighlihgt4 == 3)
                                {
                                    @Html.Raw("</ul>");
                                    <br style="clear:both" />
                                    @Html.Raw("<ul id='dvEachHideExpl' class='dvEachHideExpl'>");
                                }

                                <li class="dvregion">
                                    <div class="divdvregion">
                                        @if (hi.STX_PictureURL != "none")
                                        {
                                            string imgSRC = hi.STX_PictureURL.Replace("http:", "https:");
                                            <a href=@String.Format("{0}{1}", @_appsettings.Value.ApplicationSettings.SiteName,@hi.STX_URL.Replace(" ","_").ToLower())><img class="delay" src="https://pictures.tripmasters.com/siteassets/d/spacer.gif" data-src="@imgSRC.ToLower()" alt="@hi.STX_Title" style="max-height:200px;max-width:200px;" /></a>
                                        }

                                    </div>
                                    <div class="divTilteReg">
                                        <span><a href=@String.Format("{0}{1}", @_appsettings.Value.ApplicationSettings.SiteName,@hi.STX_URL.Replace(" ","_").ToLower())>@hi.STX_Title</a></span>
                                        <span>
                                            <a href=@String.Format("{0}{1}", @_appsettings.Value.ApplicationSettings.SiteName,@hi.STX_URL.Replace(" ","_").ToLower())><img class="delay" src="https://pictures.tripmasters.com/siteassets/d/spacer.gif" data-src="https://pictures.tripmasters.com/siteassets/d/icon-next-blue-light-braun-md.png" style="float:right;width:25px" alt="no image" /></a>
                                        </span>
                                    </div>
                                    <div class="moreDescription">
                                        <p class="pMoreDescription"> @((hi.STX_Description == "none") ? "" : hi.STX_Description) </p>
                                    </div>

                                    <div style="clear:both"></div>
                                </li>
                            }
                            else
                            {
                                <div style="display:block">
                                    <div style=" overflow:auto">@hi.CMS_Content.Replace("http:", "https:")</div>
                                </div>

                            }
                            noHighlihgt4 = noHighlihgt4 + 1;

                        }

                        <div style="clear:both"></div>
                    }
                    @Html.Raw("</ul>")
                    @if (Highlihgt4.Count() > 3)
                    {
                        <div class="moreButtonExpl" id="moreButtonExpl">See All @Model.leftDisplay.FirstOrDefault(hi => hi.SDP_GroupProdKindID == 1620).SDP_DisplayTitle</div>

                    }
                    <div class="blueLineBottom"></div>
                </section>
                break;
            @*Start Travel links*@
            case 2470:
            case 2478:
                var kindId = boxOn;
                if (Model.leftDisplay.Exists(hi => hi.SDP_GroupProdKindID == kindId))
                {
                    <section class="sectionDescription">
                        <h1 class="titleRegion" id="@r.SDP_GroupProdKindID longOrientation">@r.SDP_DisplayTitle.Replace("_", " ") </h1>
                        @Html.Raw("<ul class='ulinterests'>")
                        @{
                            List<BoxContent> leftOrientLong = Model.boxContent.FindAll(hi => hi.STX_ProdKindID == kindId);
                            Int32 noInterest = 0;
                        }
                        @foreach (var at in @leftOrientLong)
                        {

                            if (at.STX_CMSID == 0)
                            {
                                if (noInterest == 2)
                                {
                                    @Html.Raw("</ul>")
                                    ;
                                    <br style="clear:both" />
                                    @Html.Raw("<ul id='dvEachHideTravel' class='dvEachHideTravel'>")
                                    ;
                                }
                                @if (at.STX_PictureURL != "none")
                                {
                                    string imgSRC = at.STX_PictureURL.Replace("http:", "https:");
                                    <li class="liInterest">
                                        <div class="imgInterests">
                                            <a href=@String.Format("{0}", at.STX_URL)><img class="delay" src="https://pictures.tripmasters.com/siteassets/d/spacer.gif" data-src="@at.STX_PictureURL.ToLower()" /></a>
                                        </div>
                                        <div class="titleDescription">
                                            <h2 class="Text_Arial20_Blue"><a href=@String.Format("{0}", at.STX_URL)>@at.STX_Title</a></h2>
                                            <p class="descriptionBest">@at.STX_Description</p>
                                        </div>

                                    </li>
                                }

                                <div style="clear:both"></div>

                            }
                            else
                            {
                                <div style="margin:3px 5px 10px 5px; display:block">
                                    <div style=" overflow:auto">
                                        @at.CMS_Content.Replace("http:", "https:")
                                    </div>
                                </div>
                            }
                            noInterest = noInterest + 1;

                        }
                        @Html.Raw("</ul>")
                        @if (leftOrientLong.Count() > 2)
                        {
                            <div class="moreButtonTravel" id="moreButtonTravel">See All @displayTitle</div>

                        }
                    </section>
                }
                break;
        }
        k = k + 1;
    }



    @*Customer Reviews*@

    @if (Model.CountriesFeeds.Count > 1)
    {
        <section class="sectionReviews">
            <h1 class="BGboxTitle">CUSTOMER REVIEWS</h1>

            <div style="padding: 0px 0px 10px 0px; width: auto;" align="left">
                @{
                    string col = "";
                    Int32 tresShow = @Model.CountriesFeeds.Count;
                    if (tresShow > 3)
                    {
                        tresShow = 3;
                    }
                    Int32 colnum = -1;
                    foreach (var cf in @Model.CountriesFeeds)
                    {
                        if (colnum % 2 == 0)
                        {
                            col = "#EAF2FF";
                        }
                        else
                        {
                            col = "white";
                        }
                        <div style=@String.Format("padding:10px;background-color:{0};", col) class="dvFeedLink">
                            <div style="word-wrap: break-word;">@Html.Raw(@Utilities.FormatCustomerComment(@cf.PCC_Comment, 80))</div>
                            <div style="padding: 5px 5px 1px 0px;">
                                <a asp-route="Feedback_Route" asp-route-country="@cf.CountryName.Replace(" ","_")" asp-route-pack="@cf.PDL_Title.Replace(" ", "_")" asp-route-id="@cf.PCC_PDLID">
                                    Read more - See this traveler's itinerary
                                </a>
                            </div>
                            <div style="padding: 1px 5px 5px 0px;">
                                Traveled on: @cf.dep_date.ToString("MMMM d", System.Globalization.CultureInfo.CreateSpecificCulture("en-US"))
                            </div>
                        </div>

                        colnum += 1;
                    }
                }
            </div>
            <div align="center">
                <img src="https://pictures.tripmasters.com/siteassets/d/blue-ul-grad.jpg" />
            </div>
            @foreach (var c in @Model.placesOnWeight.FindAll(p => p.STR_PlaceTypeID == 5))
            {
                <div align="left" style="padding:0px 15px 10px 15px;" class="Text_12">
                    <a href=@String.Format("{0}/{1}/trips_taken_by_travelers",_appsettings.Value.ApplicationSettings.SiteName, @c.STR_PlaceTitle.Replace(" ", "_").ToLower())>Browse feedback - @c.STR_PlaceTitle</a>
                </div>
            }



        </section>

    }

    <br />
</div>


@section Scripts
    {
    <environment include="Development">
        <script src="~/js/gp3-City/dt.java.tmedGP3City.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/gp3-City/dt.java.tmedGP3City.min.js" asp-append-version="true"></script>
    </environment>
}